In [1]:
%autosave 20
import math 
import pandas as pd

Autosaving every 20 seconds

In [ ]:
#Load the dataset of Titanic train
df=pd.read_csv("train.csv")
df.head()
df = df.drop(['PassengerId','Name','Ticket','Cabin'],axis=1)
df.head()
df.columns
xtrain=['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare','Embarked']
ytrain=['Survived']

In [ ]:
df=df[xtrain+ytrain]
# df.loc[df['play']=='no','play']=0
# df.loc[df['play']=='yes','play']=1
# df.head() 
df=df.dropna()
P,N=df['Survived'].value_counts()
print("yes :",P)
print("No :",N)
df.head()

In [2]:
#Load the dataset weather
df=pd.read_csv("weather.csv")
df
df.loc[df['play']=='no','play']=0
df.loc[df['play']=='yes','play']=1
df.head() 
P,N=df['play'].value_counts()
print("yes :",P)
print("No :",N)
xtrain=['outlook', 'temperature', 'humidity', 'windy']
ytrain=['play']
df=df[xtrain+ytrain]

     outlook temperature humidity  windy play
0      sunny         hot     high  False   no
1      sunny         hot     high   True   no
2   overcast         hot     high  False  yes
3      rainy        mild     high  False  yes
4      rainy        cool   normal  False  yes
5      rainy        cool   normal   True   no
6   overcast        cool   normal   True  yes
7      sunny        mild     high  False   no
8      sunny        cool   normal  False  yes
9      rainy        mild   normal  False  yes
10     sunny        mild   normal   True  yes
11  overcast        mild     high   True  yes
12  overcast         hot   normal  False  yes
13     rainy        mild     high   True   no

    outlook temperature humidity  windy  play
0     sunny         hot     high  False     0
1     sunny         hot     high   True     0
2  overcast         hot     high  False     1
3     rainy        mild     high  False     1
4     rainy        cool   normal  False     1

yes : 9
No : 5

In [3]:
# Function to calculate information gain
def informationGain(p,n):
    if(p==0):
        return 0
    elif(n==0):
        return 0    
    IG= -(p/(p+n))*math.log2(p/(p+n)) - (n/(p+n))*math.log2(n/(p+n))
    return round(IG,3)

In [4]:
IG=informationGain(P,N)
print("Total Information Gain : ",IG)

Total Information Gain :  0.94

In [5]:
j=0
Gain = pd.DataFrame(columns=['column', 'gain'])
for col in range(0,len(df.columns)-1):
    b=df.columns[col]
    print(b)
    cmn=[]

    cmn=df.iloc[:,col].unique()
    ig=[]
    p1=[]
    n1=[]
    
    
    for col1 in range(0,len(cmn)):
        p=n=0
#         print(cmn[col1])
        s=df.groupby(b).get_group(cmn[col1])
#         print(s)
        p=len(s[s['Survived']==1])
        n=len(s[s['Survived']==0])    
        ig.append(informationGain(p,n))
        p1.append(p)
        n1.append(n)
#         print("information gain of ",cmn[col1], "is ",ig[col1])
             
    E=0.0
    for i in range(0,len(cmn)):
        E=E+(((p1[i]+n1[i])/(P+N))*ig[i])
        
#     print("Entropy of ", b, "is ",round(E,3))
    print("Gain of ",b, "is ",round(IG-E,3))
    Gain=Gain.append([{'column':b,'gain':round(IG-E,3)}], ignore_index=True)

#     print(Gain)
    print("***********")

outlook

KeyError: 'Survived'

In [19]:
print(Gain.sort_values(by=['gain'],ascending=False))

     column   gain
5      Fare  0.457
1       Sex  0.215
2       Age  0.128
0    Pclass  0.095
4     Parch  0.031
6  Embarked  0.028
3     SibSp  0.025

In [20]:
c=Gain.sort_values(by=['gain'],ascending=False).column.tolist()
c.append('Survived')
c

['Fare', 'Sex', 'Age', 'Pclass', 'Parch', 'Embarked', 'SibSp', 'Survived']

In [21]:
df=df[c]
df.head()

      Fare     Sex   Age  Pclass  Parch Embarked  SibSp  Survived
0   7.2500    male  22.0       3      0        S      1         0
1  71.2833  female  38.0       1      0        C      1         1
2   7.9250  female  26.0       3      0        S      0         1
3  53.1000  female  35.0       1      0        S      1         1
4   8.0500    male  35.0       3      0        S      0         0