In [1]:
import math 
import pandas as pd

In [3]:
d=pd.read_csv("key.csv",delimiter=",",names=["time","key"])
d.head()

       time                                                key
0      time                                                key
1  21:40:27  b'0\x82\x01"0\r\x06\t*\x86H\x86\xf7\r\x01\x01\...
2  22:07:33  b'0\x82\x01"0\r\x06\t*\x86H\x86\xf7\r\x01\x01\...
3  22:10:34  b'0\x82\x01"0\r\x06\t*\x86H\x86\xf7\r\x01\x01\...
4  22:39:44  b'0\x82\x01"0\r\x06\t*\x86H\x86\xf7\r\x01\x01\...

In [4]:
from Crypto.PublicKey import RSA
# from Crypto.Util import asn1
# from base64 import b64decode
from cryptography.fernet import Fernet
import pandas as pd
import time

key = RSA.generate(2048)


def get_pub_key():
    pub_key =  key.publickey().exportKey('DER')
    return pub_key

def get_pvt_key():
    pvt_key = key.exportKey('DER')
    return(pvt_key)

def get_sym_key():
    sym_key=Fernet.generate_key()
    print(sym_key)
    return sym_key

# print(get_pub_key())
# print(get_pvt_key())
# print(get_sym_key())

pub=get_pub_key()
pvt=get_pvt_key()

# df=pd.DataFrame(columns=['Topic', 'port', 'public_key', 'time', 'private_key'])
# df1=[]

# df=pd.read_csv("pub_key.csv")
# f1=["DC6","eclipse.mqtt.org",pub,time.strftime("%H:%M:%S",time.localtime()),pvt]
# df.loc[len(df)+1]=f1
# df.to_csv("pub_key.csv",index=False)

In [5]:
# df.head()

In [6]:
# df.public_key[3]

In [7]:
# a=df.public_key[4]

In [8]:
# df=pd.read_csv("pub_key.csv",delimiter=",",names=['Topic', 'port', 'public_key', 'time', 'private_key'])
# l=len(df)
# l
# for i in range(0,l):
#     if(df["public_key"][i]==a):
#         print(df.Topic[i])
#         print(df.time[i])
        
	#print(data[obj].unique())

In [9]:
# df

In [13]:
# f1="DC7"+","+"eclipse.mqtt.org"+","+time.strftime("%H:%M:%S",time.localtime())+","+str(pub)+","+str(pvt)
f1=pub
with open('pub_key.csv','a+') as f:
    f.write("\n"+str(f1))
f.close()

849

In [11]:
# f1=pd.DataFrame(columns=['Topic','port','time','public_key','private_key'])
# f1.to_csv("key.csv",index=False)

# df=pd.read_csv("key.csv",delimiter=",",names=['Topic','port','time','public_key','private_key'])
# df.head()

# df=pd.read_csv("pub_key.csv")
# for i in range(0,l):
#     if(df["public_key"][i]==a):
#         print(df.Topic[i])
#         print(df.time[i])
# df.loc[len(df)+1]=f1
# df.to_csv("pub_key.csv",index=False)

In [ ]:
# f1.head()

In [ ]:
# l=len(df)
# a=df.public_key[2]
# for i in range(0,l):
#     if(df["public_key"][i]==a):
#         print(df.Topic[i])
#         print(df.time[i])

In [17]:
df1=pd.read_csv("pub_key.csv",delimiter=",",names=['Topic','port','time','public_key','private_key'])
df1.head(10)

,Topic,port,time,public_key,private_key
0,Topic,port,time,public_key,private_key
1,DC5,eclipse.mqtt.org,15:25:41,"b'0\x82\x01""0\r\x06\t*\x86H\x86\xf7\r\x01\x01\...",b'0\x82\x04\xa4\x02\x01\x00\x02\x82\x01\x01\x0...
2,DC2,eclipse.mqtt.org,15:26:04,"b'0\x82\x01""0\r\x06\t*\x86H\x86\xf7\r\x01\x01\...",\xd9\xdbF\xd7\x93Y\x96\x92\x82\xbb\xaf\xfb\xd4...
3,DC4,eclipse.mqtt.org,15:29:13,"b'0\x82\x01""0\r\x06\t*\x86H\x86\xf7\r\x01\x01\...",\xb0\x08\xf1eB\xa1\xec\xb38\xa0\xa1\x80\xde\xa...
4,DC1,eclipse.mqtt.org,15:30:39,"b'0\x82\x01""0\r\x06\t*\x86H\x86\xf7\r\x01\x01\...",\xdc\xe1\xce\xf2\xf9{\x8f\xeb\xd6\xee\x910-\xa...
5,DC3,eclipse.mqtt.org,15:32:24,"b'0\x82\x01""0\r\x06\t*\x86H\x86\xf7\r\x01\x01\...",\xea;@\\N\xde\xa4i\xc4i\xd9\x9b\x95a\rq?\x9d\x...
6,DC7,eclipse.mqtt.org,22:40:04,"b'0\x82\x01""0\r\x06\t*\x86H\x86\xf7\r\x01\x01\...",b'0\x82\x04\xa4\x02\x01\x00\x02\x82\x01\x01\x0...

In [18]:
# df1=df1.drop(index=[6,7,8])

In [19]:
l=len(df1)
a=df1.public_key[5]
for i in range(0,l):
    if(df1["public_key"][i]==a):
        print(df1.Topic[i])
#         df1.time=
        print(df1.time[i])

DC3
15:32:24

In [20]:
(df1["public_key"][4]==df1["public_key"][2])

False

In [21]:
# f1=pd.DataFrame(columns=['time','key'])
# f1.to_csv("key.csv",index=False)
f1=(time.strftime("%H:%M:%S",time.localtime()))+str(",")+str(pub)
with open('key.csv','a+') as f:
    f.write("\n"+str(f1))
f.close()

919

In [22]:
df3=pd.read_csv("key.csv",delimiter=",",names=['time','key'])

In [23]:
df3

       time                                                key
0      time                                                key
1  21:40:27  b'0\x82\x01"0\r\x06\t*\x86H\x86\xf7\r\x01\x01\...
2  22:07:33  b'0\x82\x01"0\r\x06\t*\x86H\x86\xf7\r\x01\x01\...
3  22:10:34  b'0\x82\x01"0\r\x06\t*\x86H\x86\xf7\r\x01\x01\...
4  22:39:44  b'0\x82\x01"0\r\x06\t*\x86H\x86\xf7\r\x01\x01\...
5  22:40:44  b'0\x82\x01"0\r\x06\t*\x86H\x86\xf7\r\x01\x01\...

In [ ]:
# f1="DC6"+","+"eclipse.mqtt.org"+","+time.strftime("%H:%M:%S",time.localtime())+","+str(pub)+","+str(pvt)
# with open('pub_key.csv','a+') as f:
#     f.write("\n"+str(f1))
# f.close()

In [24]:
# df3.key[5]
df3.time[5]

'b\'0\\x82\\x01"0\\r\\x06\\t*\\x86H\\x86\\xf7\\r\\x01\\x01\\x01\\x05\\x00\\x03\\x82\\x01\\x0f\\x000\\x82\\x01\\n\\x02\\x82\\x01\\x01\\x00\\xae\\xf8\\x1c\\xd57\\xf2P\\xcfD\\xb1\\xc1\\xfc\\x95\\x87\\xa8@\\x9eh\\x02\\x9djoj\\x0f\\x7f\\xfcuS\\xb1\\xa9\\xf11Th\\x01\\x992e;\\xb4bo\\xf8\\x94C\\x8dH\\xb6\\xe3\\xc1Eh\\x04\\xe8(\\xac\\xf7\\xf3[svh\\xb5\\x17PU\\xdf\\xaa\\xa6\\xb7\\x9d\\xce\\xd7\\x0c\\xae\\xee\\x86>\\xf0\\xbf\\x96\\xae:\\x1f\\x8d<^\\x87\\x8c\\xd8\\xffgQ\\xd5az\\x9b\\xc4>\\x1b-\\xdd\\x96\\x7f\\x80\\xce\\x86\\x98\\x10\\x14Y\\x12\\xe7\\xda\\xb4\\xdb\\xbaH\\xa7\\x1f=\\x9d\\xa4\\x19\\xbf\\x0e\\x13\\x14\\x08\\xb3\\xe2\\xe3\\x95\\xdc\\xc1\\xf5\\xcd\\xa50\\xf9\\x97t6\\x9ba\\xb9IH\\xdb\\x7f\\x07\\x19l\\xb3\\x8eM\\x82  \\x10\\xd0\\x12\\xcf\\xda\\xc1sG\\x84\\xcf\\xea_<\\x17\\x84\\xad\\xc6-\\xb5E\\xfc\\xac\\x137\\xdd>c\\xfbh\\x98\\xe9\\x9aI\\xae\\xc3\\x99\\x7f\\xde*\\xee\\x17\\xbd\\xcdU\\xa6\\x0c\\x83\\xe6\\xc6\\xde\\xc6\\x96\\x1f\\x1c\\x8f+\\xaf\\x9br\\xccQ\\xe0\\xd7;\\xc8\\xb8\\xe3\\x1e\\xf5\\xde\\x8b\\xad[6\\x13\\x10;E\\xc5/\\xa2R\\xac\\r\\x90\\\\\\xc0\\xe9\\x92\\xf1r|C\\xdeCL\\xfd\\x02\\x03\\x01\\x00\\x01\''

'22:40:44'

In [32]:
from datetime import datetime
l=len(df1)
a=df3.key[5]
for i in range(0,l):
    if(df1["public_key"][i]==a):
        print(df1.Topic[i])
#         df1.time=df3.time[1]
        print(df1.time[i])
        df3.time[5]
        df1.time[i]
        if(datetime.strptime(df3.time[5], FMT) > datetime.strptime(df1.time[i], FMT)):
            print("good")

DC7
22:40:04

'22:40:44'

'22:40:04'

good

In [26]:
(time.strftime("%H:%M:%S",time.localtime()))
df3.info()

'22:41:59'

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 2 columns):
time    6 non-null object
key     6 non-null object
dtypes: object(2)
memory usage: 224.0+ bytes

In [ ]:
df3.time[5]
df1.time[5]

In [29]:

FMT = '%H:%M:%S'
datetime.strptime(df1.time[5], FMT) > datetime.strptime(df3.time[2], FMT)

False