In [6]:
%autosave 20
import math 
import pandas as pd

Autosaving every 20 seconds

In [7]:
# #Load the dataset of Titanic train
# df=pd.read_csv("train.csv")
# df.head()
# df = df.drop(['PassengerId','Name','Ticket','Cabin'],axis=1)
# df.head()
# df.columns
# xtrain=['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare','Embarked']
# ytrain=['Survived']

In [8]:
# df=df[xtrain+ytrain]
# df= df.fillna(df.mean())
# # df.loc[df['play']=='no','play']=0
# # df.loc[df['play']=='yes','play']=1
# # df.head() 
# df=df.dropna()
# P,N=df['Survived'].value_counts()
# print("yes :",P)
# print("No :",N)
# df.head()

In [9]:
#Load the dataset weather
df=pd.read_csv("weather.csv")
df.head()
df.loc[df['play']=='no','play']=0
df.loc[df['play']=='yes','play']=1
df.head() 
P,N=df['play'].value_counts()
print("yes :",P)
print("No :",N)
xtrain=['outlook', 'temperature', 'humidity', 'windy']
ytrain=['play']
df=df[xtrain+ytrain]

    outlook temperature humidity  windy play
0     sunny         hot     high  False   no
1     sunny         hot     high   True   no
2  overcast         hot     high  False  yes
3     rainy        mild     high  False  yes
4     rainy        cool   normal  False  yes

    outlook temperature humidity  windy  play
0     sunny         hot     high  False     0
1     sunny         hot     high   True     0
2  overcast         hot     high  False     1
3     rainy        mild     high  False     1
4     rainy        cool   normal  False     1

yes : 9
No : 5

In [10]:
IG = pd.DataFrame(columns=['column', 'Info_gain'])

In [11]:
# Function to calculate information gain
def informationGain(p,n):
    if(p==0):
        return 0
    elif(n==0):
        return 0    
    IG= -(p/(p+n))*math.log2(p/(p+n)) - (n/(p+n))*math.log2(n/(p+n))
    return round(IG,3)

In [12]:
IG=informationGain(P,N)
print("Total Information Gain : ",IG)

Total Information Gain :  0.94

In [13]:
Gain = pd.DataFrame(columns=['column', 'gain'])
dependent=''.join(ytrain)
dependent

'play'

In [10]:
def find_gain(new_df,Gain):
    for col in range(0,len(new_df.columns)-1):
        b=new_df.columns[col]
        print(b)
        cmn=[]

        cmn=new_df.iloc[:,col].unique()
        ig=[]
        p1=[]
        n1=[]


        for col1 in range(0,len(cmn)):
            p=n=0
            print(cmn[col1])
            s=new_df.groupby(b).get_group(cmn[col1])
            print(s)
            p=len(s[s[dependent]==1])
            n=len(s[s[dependent]==0])    
            print(p)
            print(n)
            ig.append(informationGain(p,n))
            p1.append(p)
            n1.append(n)
            print("information gain of ",cmn[col1], "is ",ig[col1])

        E=0.0
        for i in range(0,len(cmn)):
            E=E+(((p1[i]+n1[i])/(P+N))*ig[i])

        print("Entropy of ", b, "is ",round(E,3))
        print("Gain of ",b, "is ",round(IG-E,3))
        Gain=Gain.append([{'column':b,'gain':round(IG-E,3)}], ignore_index=True)

#         print(Gain)
        print("***********")  
    
    return Gain

In [11]:
Gain=find_gain(df,Gain)
print(Gain.sort_values(by=['gain'],ascending=False))

outlook
sunny
   outlook temperature humidity  windy  play
0    sunny         hot     high  False     0
1    sunny         hot     high   True     0
7    sunny        mild     high  False     0
8    sunny        cool   normal  False     1
10   sunny        mild   normal   True     1
2
3
information gain of  sunny is  0.971
overcast
     outlook temperature humidity  windy  play
2   overcast         hot     high  False     1
6   overcast        cool   normal   True     1
11  overcast        mild     high   True     1
12  overcast         hot   normal  False     1
4
0
information gain of  overcast is  0
rainy
   outlook temperature humidity  windy  play
3    rainy        mild     high  False     1
4    rainy        cool   normal  False     1
5    rainy        cool   normal   True     0
9    rainy        mild   normal  False     1
13   rainy        mild     high   True     0
3
2
information gain of  rainy is  0.971
Entropy of  outlook is  0.694
Gain of  outlook is  0.246
***********
temperature
hot
     outlook temperature humidity  windy  play
0      sunny         hot     high  False     0
1      sunny         hot     high   True     0
2   overcast         hot     high  False     1
12  overcast         hot   normal  False     1
2
2
information gain of  hot is  1.0
mild
     outlook temperature humidity  windy  play
3      rainy        mild     high  False     1
7      sunny        mild     high  False     0
9      rainy        mild   normal  False     1
10     sunny        mild   normal   True     1
11  overcast        mild     high   True     1
13     rainy        mild     high   True     0
4
2
information gain of  mild is  0.918
cool
    outlook temperature humidity  windy  play
4     rainy        cool   normal  False     1
5     rainy        cool   normal   True     0
6  overcast        cool   normal   True     1
8     sunny        cool   normal  False     1
3
1
information gain of  cool is  0.811
Entropy of  temperature is  0.911
Gain of  temperature is  0.029
***********
humidity
high
     outlook temperature humidity  windy  play
0      sunny         hot     high  False     0
1      sunny         hot     high   True     0
2   overcast         hot     high  False     1
3      rainy        mild     high  False     1
7      sunny        mild     high  False     0
11  overcast        mild     high   True     1
13     rainy        mild     high   True     0
3
4
information gain of  high is  0.985
normal
     outlook temperature humidity  windy  play
4      rainy        cool   normal  False     1
5      rainy        cool   normal   True     0
6   overcast        cool   normal   True     1
8      sunny        cool   normal  False     1
9      rainy        mild   normal  False     1
10     sunny        mild   normal   True     1
12  overcast         hot   normal  False     1
6
1
information gain of  normal is  0.592
Entropy of  humidity is  0.788
Gain of  humidity is  0.151
***********
windy
False
     outlook temperature humidity  windy  play
0      sunny         hot     high  False     0
2   overcast         hot     high  False     1
3      rainy        mild     high  False     1
4      rainy        cool   normal  False     1
7      sunny        mild     high  False     0
8      sunny        cool   normal  False     1
9      rainy        mild   normal  False     1
12  overcast         hot   normal  False     1
6
2
information gain of  False is  0.811
True
     outlook temperature humidity  windy  play
1      sunny         hot     high   True     0
5      rainy        cool   normal   True     0
6   overcast        cool   normal   True     1
10     sunny        mild   normal   True     1
11  overcast        mild     high   True     1
13     rainy        mild     high   True     0
3
3
information gain of  True is  1.0
Entropy of  windy is  0.892
Gain of  windy is  0.048
***********
        column   gain
0      outlook  0.246
2     humidity  0.151
3        windy  0.048
1  temperature  0.029

In [13]:
print(Gain.sort_values(by=['gain'],ascending=False))
c=Gain.sort_values(by=['gain'],ascending=False).column.tolist()
c.append(dependent)
c

        column   gain
0      outlook  0.246
2     humidity  0.151
3        windy  0.048
1  temperature  0.029

['outlook', 'humidity', 'windy', 'temperature', 'play']

In [14]:
df=df[c]
df.head()

    outlook humidity  windy temperature  play
0     sunny     high  False         hot     0
1     sunny     high   True         hot     0
2  overcast     high  False         hot     1
3     rainy     high  False        mild     1
4     rainy   normal  False        cool     1