In [1]:
import math 
import pandas as pd

In [2]:
d=pd.read_csv("key.csv",delimiter=",",names=["public","private"])
d.head()

Empty DataFrame
Columns: [public, private]
Index: []

In [3]:
from Crypto.PublicKey import RSA
# from Crypto.Util import asn1
# from base64 import b64decode
from cryptography.fernet import Fernet
import pandas as pd
import time

key = RSA.generate(2048)


def get_pub_key():
    pub_key =  key.publickey().exportKey('DER')
    return pub_key

def get_pvt_key():
    pvt_key = key.exportKey('DER')
    return(pvt_key)

def get_sym_key():
    sym_key=Fernet.generate_key()
    print(sym_key)
    return sym_key

# print(get_pub_key())
# print(get_pvt_key())
# print(get_sym_key())

pub=get_pub_key()
pvt=get_pvt_key()

df1=[]
# df=pd.DataFrame(columns=['Topic', 'port', 'public_key', 'time', 'private_key'])
df=pd.read_csv("pub_key.csv")
f1=["DC6","eclipse.mqtt.org",pub,time.strftime("%H:%M:%S",time.localtime()),pvt]
df.loc[len(df)+1]=f1
df.to_csv("pub_key.csv",index=False)

In [4]:
df.head()

,Topic,port,public_key,time,private_key
0,DC1,eclipse.mqtt.org,"b'0\x82\x01""0\r\x06\t*\x86H\x86\xf7\r\x01\x01\...",10:58:06,b'0\x82\x04\xa2\x02\x01\x00\x02\x82\x01\x01\x0...
1,DC2,eclipse.mqtt.org,"b'0\x82\x01""0\r\x06\t*\x86H\x86\xf7\r\x01\x01\...",11:35:16,b'0\x82\x04\xa2\x02\x01\x00\x02\x82\x01\x01\x0...
2,DC3,eclipse.mqtt.org,"b'0\x82\x01""0\r\x06\t*\x86H\x86\xf7\r\x01\x01\...",11:35:20,b'0\x82\x04\xa3\x02\x01\x00\x02\x82\x01\x01\x0...
3,DC4,eclipse.mqtt.org,"b'0\x82\x01""0\r\x06\t*\x86H\x86\xf7\r\x01\x01\...",11:35:22,b'0\x82\x04\xa3\x02\x01\x00\x02\x82\x01\x01\x0...
4,DC5,eclipse.mqtt.org,"b'0\x82\x01""0\r\x06\t*\x86H\x86\xf7\r\x01\x01\...",11:35:26,b'0\x82\x04\xa3\x02\x01\x00\x02\x82\x01\x01\x0...

In [5]:
df.public_key[3]

'b\'0\\x82\\x01"0\\r\\x06\\t*\\x86H\\x86\\xf7\\r\\x01\\x01\\x01\\x05\\x00\\x03\\x82\\x01\\x0f\\x000\\x82\\x01\\n\\x02\\x82\\x01\\x01\\x00\\xa3;?S\\x8dn\\xc1F\\x14\\xc6d\\xdam\\xdf\\x13\\x9c\\x12Vh\\x0f\\xb1B\\xdd\\x02\\xef\\xb9,@.\\x03>\\xa1\\x05\\xda\\x87\\x84\\xb5\\x8c3\\x97\\xb4\\x87\\xcf~\\xcfp\\xa4:\\xd6\\xcc\\x9aIYq\\xe1\\x9f\\xb5\\x98\\xa0Q\\xf4e\\xce\\xc2\\x050\\xd8M\\xca\\xa4\\x9a~\\xe1\\x0e\\xc9D\\xbc\\x1b\\xb0i\\x9d\\x96n\\x01\\xfeU\\xd1\\xf5*\\x98\\x813\\xaf\\xc4\\xf2\\xf35L\\x93\\x07\\xb2\\xf6\\xdd\\xed\\xeb\\xd5\\x82\\xbe4/\\xe5\\xda\\x92\\x83\\x8f\\xa8\\xccTdH\\xfe\\xe9~\\xba\\xc3\\xff\\xdb\\xec\\xee\\xaag%?\\x81X\\x0bv\\x8d\\xad\\xb1?26\\xfdd\\x05\\xcc@\\xbb1\\xb2\\x11\\x0f\\\'&\\x19\\xfdP|R\\xaf\\x85\\xd6\\x94\\x91e\\xc2\\xe0\\xf0#\\xe0P^"\\x17\\x93be\\xaa|f\\x98\\x00@\\xb4\\xb1a\\xa6/\\x12j\\xd3@\\x00\\xa9V\\x0c\\x81\\x18\\xfa\\xe3^u\\xe0Y!&\\x91\\xbfds\\xd2Bym\\x9e\\xa8\\x87\\xe7\\x16N\\xa3~\\xc8L\\xdej\\x89\\xc7>b\\xb7S\\xf8\\xf98\\xab`G|\\xcc\\rZ\\xd6CC\\x1b\\xb5F\\xc1\\xdd|\\x05\\x19H\\xfb\\x02\\x03\\x01\\x00\\x01\''

In [6]:
a=df.public_key[4]

In [7]:
df=pd.read_csv("pub_key.csv",delimiter=",",names=['Topic', 'port', 'public_key', 'time', 'private_key'])
l=len(df)
l
for i in range(0,l):
    if(df["public_key"][i]==a):
        print(df.Topic[i])
        print(df.time[i])
        
	#print(data[obj].unique())

8

DC5
11:35:26

In [8]:
df

,Topic,port,public_key,time,private_key
0,Topic,port,public_key,time,private_key
1,DC1,eclipse.mqtt.org,"b'0\x82\x01""0\r\x06\t*\x86H\x86\xf7\r\x01\x01\...",10:58:06,b'0\x82\x04\xa2\x02\x01\x00\x02\x82\x01\x01\x0...
2,DC2,eclipse.mqtt.org,"b'0\x82\x01""0\r\x06\t*\x86H\x86\xf7\r\x01\x01\...",11:35:16,b'0\x82\x04\xa2\x02\x01\x00\x02\x82\x01\x01\x0...
3,DC3,eclipse.mqtt.org,"b'0\x82\x01""0\r\x06\t*\x86H\x86\xf7\r\x01\x01\...",11:35:20,b'0\x82\x04\xa3\x02\x01\x00\x02\x82\x01\x01\x0...
4,DC4,eclipse.mqtt.org,"b'0\x82\x01""0\r\x06\t*\x86H\x86\xf7\r\x01\x01\...",11:35:22,b'0\x82\x04\xa3\x02\x01\x00\x02\x82\x01\x01\x0...
5,DC5,eclipse.mqtt.org,"b'0\x82\x01""0\r\x06\t*\x86H\x86\xf7\r\x01\x01\...",11:35:26,b'0\x82\x04\xa3\x02\x01\x00\x02\x82\x01\x01\x0...
6,DC6,eclipse.mqtt.org,"b'0\x82\x01""0\r\x06\t*\x86H\x86\xf7\r\x01\x01\...",11:35:29,b'0\x82\x04\xa3\x02\x01\x00\x02\x82\x01\x01\x0...
7,DC6,eclipse.mqtt.org,"b'0\x82\x01""0\r\x06\t*\x86H\x86\xf7\r\x01\x01\...",13:35:32,b'0\x82\x04\xa5\x02\x01\x00\x02\x82\x01\x01\x0...

In [129]:
f1="DC6"+","+"eclipse.mqtt.org"+","+time.strftime("%H:%M:%S",time.localtime())+","+str(pub)+","+str(pvt)
with open('pub_key.csv','a+') as f:
    f.write("\n"+str(f1))
f.close()

4420

In [106]:
# f1=pd.DataFrame(columns=['Topic','port','time','public_key','private_key'])
# f1.to_csv("key.csv",index=False)

df=pd.read_csv("key.csv",delimiter=",",names=['Topic','port','time','public_key','private_key'])
df.head()

# df=pd.read_csv("pub_key.csv")
# for i in range(0,l):
#     if(df["public_key"][i]==a):
#         print(df.Topic[i])
#         print(df.time[i])
# df.loc[len(df)+1]=f1
# df.to_csv("pub_key.csv",index=False)

,Topic,port,time,public_key,private_key
0,Topic,port,time,public_key,private_key
1,DC1,eclipse.mqtt.org,14:03:43,"b'0\x82\x01""0\r\x06\t*\x86H\x86\xf7\r\x01\x01\...",r\x11\x95\xd1\x9bK\xa7\x8a\xd8
2,DC2,eclipse.mqtt.org,14:03:47,"b'0\x82\x01""0\r\x06\t*\x86H\x86\xf7\r\x01\x01\...",r\x11\x95\xd1\x9bK\xa7\x8a\xd8

In [89]:
f1.head()

Empty DataFrame
Columns: [Topic, port, public_key, time, private_key]
Index: []

In [107]:
l=len(df)
a=df.public_key[2]
for i in range(0,l):
    if(df["public_key"][i]==a):
        print(df.Topic[i])
        print(df.time[i])

DC1
14:03:43
DC2
14:03:47

In [131]:
df1=pd.read_csv("pub_key.csv",delimiter=",",names=['Topic','port','time','public_key','private_key'])
df1.head(10)

,Topic,port,time,public_key,private_key
0,Topic,port,time,public_key,private_key
1,DC5,eclipse.mqtt.org,15:25:41,"b'0\x82\x01""0\r\x06\t*\x86H\x86\xf7\r\x01\x01\...",b'0\x82\x04\xa4\x02\x01\x00\x02\x82\x01\x01\x0...
2,DC2,eclipse.mqtt.org,15:26:04,"b'0\x82\x01""0\r\x06\t*\x86H\x86\xf7\r\x01\x01\...",\xd9\xdbF\xd7\x93Y\x96\x92\x82\xbb\xaf\xfb\xd4...
3,DC4,eclipse.mqtt.org,15:29:13,"b'0\x82\x01""0\r\x06\t*\x86H\x86\xf7\r\x01\x01\...",\xb0\x08\xf1eB\xa1\xec\xb38\xa0\xa1\x80\xde\xa...
4,DC1,eclipse.mqtt.org,15:30:39,"b'0\x82\x01""0\r\x06\t*\x86H\x86\xf7\r\x01\x01\...",\xdc\xe1\xce\xf2\xf9{\x8f\xeb\xd6\xee\x910-\xa...
5,DC3,eclipse.mqtt.org,15:32:24,"b'0\x82\x01""0\r\x06\t*\x86H\x86\xf7\r\x01\x01\...",\xea;@\\N\xde\xa4i\xc4i\xd9\x9b\x95a\rq?\x9d\x...
6,DC6,eclipse.mqtt.org,15:53:37,"b'0\x82\x01""0\r\x06\t*\x86H\x86\xf7\r\x01\x01\...",r\x11\x95\xd1\x9bK\xa7\x8a\xd8
7,DC6,eclipse.mqtt.org,15:54:04,"b'0\x82\x01""0\r\x06\t*\x86H\x86\xf7\r\x01\x01\...",r\x11\x95\xd1\x9bK\xa7\x8a\xd8

In [132]:
l=len(df1)
a=df1.public_key[6]
for i in range(0,l):
    if(df1["public_key"][i]==a):
        print(df1.Topic[i])
        df1.time=
        print(df1.time[i])

DC6
15:53:37
DC6
15:54:04

In [124]:
(df1["public_key"][4]==df1["public_key"][2])

False

In [233]:
f1=pd.DataFrame(columns=['time','key'])
f1.to_csv("key.csv",index=False)
f1=(time.strftime("%H:%M:%S",time.localtime()))+str(",")+str(pub)
with open('key.csv','a+') as f:
    f.write("\n"+str(f1))
f.close()

908

In [234]:
df3=pd.read_csv("key.csv",delimiter=",")

In [235]:
df3.head()

,time,key
0,"time,key",NaN
1,"16:48:38,b'0\x82\x01""0\r\x06\t*\x86H\x86\xf7\r...","\x17X{\xe7>\rvI\x9dU(\x00WeR\xe7:\xf72""L\x8f8\..."

In [236]:
df3

,time,key
0,"time,key",NaN
1,"16:48:38,b'0\x82\x01""0\r\x06\t*\x86H\x86\xf7\r...","\x17X{\xe7>\rvI\x9dU(\x00WeR\xe7:\xf72""L\x8f8\..."