In [1]:
%autosave 20
import math 
import time
import pandas as pd
from sklearn.utils import shuffle

Autosaving every 20 seconds

In [2]:
# Loading new dataset to remove teh duplicates
start=time.time()
end=time.time()
print("before loading the test",end-start)
df_t=pd.read_csv("test.csv",delimiter=",",names=["Sensor","Type","Units","time","Flag","Value"])
end=time.time()
print("after loading the test",end-start)

print("test before ",df_t.shape)
# len(df_t.packet_no.unique())
end=time.time()
print("after removing duplicates the test",end-start)

# df_t=df_t.drop(["packet_no","Key"],1)
df_t=df_t.drop_duplicates()
print("test after ",df_t.shape)

df_t=df_t.drop_duplicates()
print("test after ",df_t.shape)
df_t.head(5)

before loading the test 0.0
after loading the test 0.03646492958068848
test before  (19116, 6)
after removing duplicates the test 0.0374302864074707
test after  (19116, 6)
test after  (19116, 6)

                   Sensor Type   Units                 time   Flag     Value
0  PER_AIRMON_MESH1911150  NO2  ugm -3  2020-05-22 10:15:00  False   8.62732
1  PER_AIRMON_MESH1911150  NO2  ugm -3  2020-05-22 10:30:00  False  11.60524
2  PER_AIRMON_MESH1911150  NO2  ugm -3  2020-05-22 10:45:00  False  10.76676
3  PER_AIRMON_MESH1911150  NO2  ugm -3  2020-05-22 11:00:00  False  11.06568
4  PER_AIRMON_MESH1911150  NO2  ugm -3  2020-05-22 11:15:00  False   9.42632

In [3]:
df_s=pd.read_csv("Sample dataset values1.csv")
# df_s=df_s.drop("Key",1)
df_s=df_s.dropna()
print("sample before ",df_s.shape)

df_c=pd.concat([df_s,df_t], axis=0, ignore_index=True)
print("sample after concat ",df_c.shape)

df_remove=df_c.drop_duplicates()
print("after removing duplicates ",df_remove.shape)

df_shuffle = shuffle(df_remove)
df_shuffle.to_csv("Sample dataset values1.csv",mode="w",index=False)

df=pd.read_csv("Sample dataset values1.csv")
print("sample newly loaded ",df.shape)

df=df.drop_duplicates()
print("sample newly removed duplictes ",df.shape)

end=time.time()
print("before final loading",end-start)
df= shuffle(df)
df.to_csv("Sample dataset values1.csv",mode="w",index=False)

end=time.time()
print("after loading",end-start)
df.tail(10)

sample before  (222397, 6)
sample after concat  (241513, 6)
after removing duplicates  (241492, 6)
sample newly loaded  (241492, 6)
sample newly removed duplictes  (241492, 6)
before final loading 2.5991148948669434
after loading 4.002797603607178

,Sensor,Type,Units,time,Flag,Value
112674,PER_AIRMON_MESH1911150,Pressure,hpa,14/05/2020 08:00,0.0,1031.100000
173221,PER_AIRMON_MESH1911150,Pressure,hpa,2020-05-23 00:45:00,0.0,1015.900000
140488,PER_AIRMON_MESH1911150,PM1,ugm -3,13/05/2020 08:03,0.0,1.856000
3121,PER_AIRMON_MESH1911150,PM1,ugm -3,15/05/2020 17:45,0.0,1.943000
183896,PER_AIRMON_MESH1911150,PM 4,ugm -3,13/05/2020 04:30,0.0,0.650000
142474,PER_EMOTE_1309,NO,ugm -3,2020-05-17 02:39:17,0.0,18.562196
138120,PER_AIRMON_MESH1911150,PM10,ugm -3,2020-05-18 06:15:00,0.0,5.696000
90511,PER_AIRMON_MESH1911150,PM10,ugm -3,2020-05-18 19:12:00,0.0,5.707000
17955,PER_AIRMON_MESH301245,Temperature,Celsius,2020-05-22 03:30:00,0.0,14.200000
47506,PER_EMOTE_1309,NO2,ugm -3,2020-05-22 17:48:28,0.0,31.310179

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 241492 entries, 76749 to 47506
Data columns (total 6 columns):
Sensor    241492 non-null object
Type      241492 non-null object
Units     241492 non-null object
time      241492 non-null object
Flag      241492 non-null float64
Value     241492 non-null float64
dtypes: float64(2), object(4)
memory usage: 12.9+ MB

In [5]:
df.nunique()

Sensor        3
Type         12
Units         6
time      25535
Flag          2
Value     61346
dtype: int64