In [1]:
%autosave 20
import math 
import time
import pandas as pd
from sklearn.utils import shuffle

Autosaving every 20 seconds

In [2]:
# Loading new dataset to remove teh duplicates
start=time.time()
end=time.time()
print("before loading the test",end-start)
df_t=pd.read_csv("C:/Users/HP/OneDrive - Newcastle University/Dissertation/Data_sets/test.csv",delimiter=",",names=["Sensor","Type","Units","time","Flag","Value"])
end=time.time()
print("after loading the test",end-start)

print("test before ",df_t.shape)
# len(df_t.packet_no.unique())
end=time.time()
print("after removing duplicates the test",end-start)

# df_t=df_t.drop(["packet_no","Key"],1)
df_t=df_t.drop_duplicates()
print("test after ",df_t.shape)

df_t=df_t.drop_duplicates()
print("test after ",df_t.shape)
df_t.head(5)
df_t.info()

before loading the test 0.0
after loading the test 0.052073001861572266
test before  (35144, 6)
after removing duplicates the test 0.052073001861572266
test after  (17572, 6)
test after  (17572, 6)

                   Sensor Type   Units                 time   Flag     Value
0  PER_AIRMON_MESH1911150  NO2  ugm -3  2020-06-03 21:15:00  False  28.27896
1  PER_AIRMON_MESH1911150  NO2  ugm -3  2020-06-03 21:30:00  False  28.43876
2  PER_AIRMON_MESH1911150  NO2  ugm -3  2020-06-03 21:45:00  False  23.60152
3  PER_AIRMON_MESH1911150  NO2  ugm -3  2020-06-03 22:00:00  False  27.33896
4  PER_AIRMON_MESH1911150  NO2  ugm -3  2020-06-03 22:15:00  False  24.81976

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17572 entries, 0 to 17571
Data columns (total 6 columns):
Sensor    17572 non-null object
Type      17572 non-null object
Units     17572 non-null object
time      17572 non-null object
Flag      17572 non-null bool
Value     17572 non-null float64
dtypes: bool(1), float64(1), object(4)
memory usage: 840.8+ KB

In [3]:
df_s=pd.read_csv("C:/Users/HP/OneDrive - Newcastle University/Dissertation/Data_sets/Sample dataset values1.csv")
# df_s=df_s.drop("Key",1)
df_s=df_s.dropna()
print("sample before ",df_s.shape)

df_c=pd.concat([df_s,df_t], axis=0, ignore_index=True)
print("sample after concat ",df_c.shape)

df_remove=df_c.drop_duplicates()
print("after removing duplicates ",df_remove.shape)

df_shuffle = shuffle(df_remove)
df_shuffle.to_csv("C:/Users/HP/OneDrive - Newcastle University/Dissertation/Data_sets/Sample dataset values1.csv",mode="w",index=False)

df=pd.read_csv("C:/Users/HP/OneDrive - Newcastle University/Dissertation/Data_sets/Sample dataset values1.csv")
print("sample newly loaded ",df.shape)

df=df.drop_duplicates()
print("sample newly removed duplictes ",df.shape)

end=time.time()
print("before final loading",end-start)
df= shuffle(df)
df.to_csv("C:/Users/HP/OneDrive - Newcastle University/Dissertation/Data_sets/Sample dataset values1.csv",mode="w",index=False)

end=time.time()
print("after loading",end-start)
df.tail(10)

sample before  (444833, 6)
sample after concat  (462405, 6)
after removing duplicates  (445015, 6)
sample newly loaded  (445015, 6)
sample newly removed duplictes  (444833, 6)
before final loading 4.312761068344116
after loading 6.554200887680054

,Sensor,Type,Units,time,Flag,Value
272189,PER_AIRMON_MESH301245,PM1,ugm -3,2020-05-26 03:19:00,0.0,2.050000
360929,PER_EMOTE_1309,Sound,db,2020-06-03 13:27:51,0.0,71.000000
242208,PER_AIRMON_MESH1911150,NO2,ugm -3,15/05/2020 18:15,0.0,35.297000
140595,PER_EMOTE_1309,CO,ugm -3,2020-05-25 07:46:32,0.0,363.087921
195578,PER_EMOTE_1309,NO,ugm -3,16/05/2020 15:02,0.0,32.978807
367241,PER_AIRMON_MESH1911150,PM1,ugm -3,2020-06-04 11:23:00,0.0,2.031000
396134,PER_AIRMON_MESH1911150,PM1,ugm -3,2020-06-02 11:13:00,0.0,2.249000
287581,PER_AIRMON_MESH1911150,PM10,ugm -3,2020-05-25 21:14:00,0.0,6.132000
130343,PER_EMOTE_1309,Temperature,Celsius,13/05/2020 12:13,0.0,9.800000
98821,PER_AIRMON_MESH301245,PM10,ugm -3,2020-05-25 06:35:00,0.0,21.750000

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 444833 entries, 17457 to 98821
Data columns (total 6 columns):
Sensor    444833 non-null object
Type      444833 non-null object
Units     444833 non-null object
time      444833 non-null object
Flag      444833 non-null float64
Value     444833 non-null float64
dtypes: float64(2), object(4)
memory usage: 23.8+ MB

In [5]:
df.nunique()

Sensor         3
Type          12
Units          6
time       52707
Flag           2
Value     103964
dtype: int64

In [6]:
df_s.head()

                  Sensor      Type   Units                 time  Flag  Value
0         PER_EMOTE_1309     Sound      db     17/05/2020 19:02   0.0  60.00
1  PER_AIRMON_MESH301245      PM10  ugm -3     16/05/2020 02:20   0.0   7.06
2  PER_AIRMON_MESH301245     PM2.5  ugm -3     13/05/2020 17:19   0.0   2.83
3         PER_EMOTE_1309  Humidity       %  2020-05-28 02:53:38   0.0  78.00
4         PER_EMOTE_1309  Humidity       %  2020-05-26 17:18:35   0.0  37.00