In [1]:
%autosave 20
import math 
import time
import pandas as pd
from sklearn.utils import shuffle

Autosaving every 20 seconds

In [2]:
# Loading new dataset to remove teh duplicates
start=time.time()
end=time.time()
print("before loading the test",end-start)
df_t=pd.read_csv("C:/Users/HP/OneDrive - Newcastle University/Dissertation/Data_sets/test.csv",delimiter=",",names=["Sensor","Type","Units","time","Flag","Value"])
end=time.time()
print("after loading the test",end-start)

print("test before ",df_t.shape)
# len(df_t.packet_no.unique())
end=time.time()
print("after removing duplicates the test",end-start)

# df_t=df_t.drop(["packet_no","Key"],1)
df_t=df_t.drop_duplicates()
print("test after ",df_t.shape)

df_t=df_t.drop_duplicates()
print("test after ",df_t.shape)
df_t.head(5)
df_t.info()

before loading the test 0.0
after loading the test 0.05286741256713867
test before  (32822, 6)
after removing duplicates the test 0.05385565757751465
test after  (16441, 6)
test after  (16441, 6)

                   Sensor Type   Units                 time   Flag     Value
0  PER_AIRMON_MESH1911150  NO2  ugm -3  2020-06-01 12:15:00  False  12.96448
1  PER_AIRMON_MESH1911150  NO2  ugm -3  2020-06-01 12:30:00  False  13.36492
2  PER_AIRMON_MESH1911150  NO2  ugm -3  2020-06-01 12:45:00  False  19.82272
3  PER_AIRMON_MESH1911150  NO2  ugm -3  2020-06-01 13:00:00  False  16.20372
4  PER_AIRMON_MESH1911150  NO2  ugm -3  2020-06-01 13:15:00  False  18.54244

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16441 entries, 0 to 32821
Data columns (total 6 columns):
Sensor    16441 non-null object
Type      16441 non-null object
Units     16441 non-null object
time      16441 non-null object
Flag      16441 non-null bool
Value     16441 non-null float64
dtypes: bool(1), float64(1), object(4)
memory usage: 786.7+ KB

In [3]:
df_s=pd.read_csv("C:/Users/HP/OneDrive - Newcastle University/Dissertation/Data_sets/Sample dataset values1.csv")
# df_s=df_s.drop("Key",1)
df_s=df_s.dropna()
print("sample before ",df_s.shape)

df_c=pd.concat([df_s,df_t], axis=0, ignore_index=True)
print("sample after concat ",df_c.shape)

df_remove=df_c.drop_duplicates()
print("after removing duplicates ",df_remove.shape)

df_shuffle = shuffle(df_remove)
df_shuffle.to_csv("C:/Users/HP/OneDrive - Newcastle University/Dissertation/Data_sets/Sample dataset values1.csv",mode="w",index=False)

df=pd.read_csv("C:/Users/HP/OneDrive - Newcastle University/Dissertation/Data_sets/Sample dataset values1.csv")
print("sample newly loaded ",df.shape)

df=df.drop_duplicates()
print("sample newly removed duplictes ",df.shape)

end=time.time()
print("before final loading",end-start)
df= shuffle(df)
df.to_csv("C:/Users/HP/OneDrive - Newcastle University/Dissertation/Data_sets/Sample dataset values1.csv",mode="w",index=False)

end=time.time()
print("after loading",end-start)
df.tail(10)
df.info()

sample before  (392267, 6)
sample after concat  (408708, 6)
after removing duplicates  (403491, 6)
sample newly loaded  (403491, 6)
sample newly removed duplictes  (403435, 6)
before final loading 3.891702175140381
after loading 6.00429368019104

,Sensor,Type,Units,time,Flag,Value
367727,PER_AIRMON_MESH301245,PM1,ugm -3,2020-05-25 02:58:00,0.0,5.10000
197302,PER_AIRMON_MESH301245,PM10,ugm -3,2020-05-26 10:19:00,0.0,8.56000
252893,PER_EMOTE_1309,NO2,ugm -3,12/05/2020 02:26,0.0,47.13705
148109,PER_AIRMON_MESH301245,PM 4,ugm -3,15/05/2020 17:45,0.0,2.69000
198368,PER_AIRMON_MESH301245,PM10,ugm -3,17/05/2020 09:32,0.0,6.92000
137442,PER_EMOTE_1309,Sound,db,14/05/2020 15:06,0.0,61.00000
26255,PER_AIRMON_MESH1911150,PM1,ugm -3,17/05/2020 10:27,0.0,2.33600
203669,PER_EMOTE_1309,Temperature,Celsius,15/05/2020 15:58,0.0,16.60000
72180,PER_AIRMON_MESH301245,PM2.5,ugm -3,2020-05-22 21:32:00,0.0,11.02000
292377,PER_AIRMON_MESH1911150,PM1,ugm -3,2020-05-29 05:21:00,0.0,4.08200

<class 'pandas.core.frame.DataFrame'>
Int64Index: 403435 entries, 316825 to 292377
Data columns (total 6 columns):
Sensor    403435 non-null object
Type      403435 non-null object
Units     403435 non-null object
time      403435 non-null object
Flag      403435 non-null float64
Value     403435 non-null float64
dtypes: float64(2), object(4)
memory usage: 21.5+ MB

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 403435 entries, 316825 to 292377
Data columns (total 6 columns):
Sensor    403435 non-null object
Type      403435 non-null object
Units     403435 non-null object
time      403435 non-null object
Flag      403435 non-null float64
Value     403435 non-null float64
dtypes: float64(2), object(4)
memory usage: 21.5+ MB

In [5]:
df.nunique()

Sensor        3
Type         12
Units         6
time      47140
Flag          2
Value     95434
dtype: int64