In [1]:
%autosave 20
import math 
import time
import pandas as pd
from sklearn.utils import shuffle

Autosaving every 20 seconds

In [2]:
# Loading new dataset to remove teh duplicates
start=time.time()
end=time.time()
print("before loading the test",end-start)
df_t=pd.read_csv("test.csv",delimiter=",",names=["Sensor","Type","Units","time","Flag","Value"])
end=time.time()
print("after loading the test",end-start)

print("test before ",df_t.shape)
# len(df_t.packet_no.unique())
end=time.time()
print("after removing duplicates the test",end-start)

# df_t=df_t.drop(["packet_no","Key"],1)
df_t=df_t.drop_duplicates()
print("test after ",df_t.shape)

df_t=df_t.drop_duplicates()
print("test after ",df_t.shape)
df_t.head(5)
df_t.info()

before loading the test 0.0
after loading the test 0.05773472785949707
test before  (34560, 6)
after removing duplicates the test 0.05773472785949707
test after  (17280, 6)
test after  (17280, 6)

                   Sensor Type   Units                 time   Flag     Value
0  PER_AIRMON_MESH1911150  NO2  ugm -3  2020-05-31 14:15:00  False  15.98376
1  PER_AIRMON_MESH1911150  NO2  ugm -3  2020-05-31 14:30:00  False  14.30492
2  PER_AIRMON_MESH1911150  NO2  ugm -3  2020-05-31 14:45:00  False  16.88428
3  PER_AIRMON_MESH1911150  NO2  ugm -3  2020-05-31 15:00:00  False  18.18336
4  PER_AIRMON_MESH1911150  NO2  ugm -3  2020-05-31 15:15:00  False  19.68172

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17280 entries, 0 to 17279
Data columns (total 6 columns):
Sensor    17280 non-null object
Type      17280 non-null object
Units     17280 non-null object
time      17280 non-null object
Flag      17280 non-null bool
Value     17280 non-null float64
dtypes: bool(1), float64(1), object(4)
memory usage: 826.9+ KB

In [3]:
df_s=pd.read_csv("Sample dataset values1.csv")
# df_s=df_s.drop("Key",1)
df_s=df_s.dropna()
print("sample before ",df_s.shape)

df_c=pd.concat([df_s,df_t], axis=0, ignore_index=True)
print("sample after concat ",df_c.shape)

df_remove=df_c.drop_duplicates()
print("after removing duplicates ",df_remove.shape)

df_shuffle = shuffle(df_remove)
df_shuffle.to_csv("Sample dataset values1.csv",mode="w",index=False)

df=pd.read_csv("Sample dataset values1.csv")
print("sample newly loaded ",df.shape)

df=df.drop_duplicates()
print("sample newly removed duplictes ",df.shape)

end=time.time()
print("before final loading",end-start)
df= shuffle(df)
df.to_csv("Sample dataset values1.csv",mode="w",index=False)

end=time.time()
print("after loading",end-start)
df.tail(10)
df.info()

sample before  (374062, 6)
sample after concat  (391342, 6)
after removing duplicates  (387073, 6)
sample newly loaded  (387073, 6)
sample newly removed duplictes  (387036, 6)
before final loading 3.711127996444702
after loading 5.6964569091796875

,Sensor,Type,Units,time,Flag,Value
78436,PER_AIRMON_MESH1911150,PM1,ugm -3,13/05/2020 00:06,0.0,1.638000
89570,PER_AIRMON_MESH1911150,PM 4,ugm -3,15/05/2020 06:50,0.0,1.290000
236453,PER_AIRMON_MESH1911150,PM10,ugm -3,2020-05-18 04:20:00,0.0,6.401000
206207,PER_EMOTE_1309,NO2,ugm -3,15/05/2020 01:45,0.0,57.907941
150623,PER_AIRMON_MESH301245,PM 4,ugm -3,2020-05-29 22:29:00,0.0,6.420000
338820,PER_AIRMON_MESH301245,PM 4,ugm -3,2020-05-22 02:57:00,0.0,11.580000
131559,PER_EMOTE_1309,Sound,db,2020-05-29 08:00:40,0.0,60.000000
345541,PER_EMOTE_1309,NO,ugm -3,2020-05-18 06:02:19,0.0,18.588545
284999,PER_AIRMON_MESH1911150,PM 4,ugm -3,2020-05-25 10:34:00,0.0,1.390000
35913,PER_EMOTE_1309,Temperature,Celsius,2020-05-23 00:43:28,0.0,11.600000

<class 'pandas.core.frame.DataFrame'>
Int64Index: 387036 entries, 200308 to 35913
Data columns (total 6 columns):
Sensor    387036 non-null object
Type      387036 non-null object
Units     387036 non-null object
time      387036 non-null object
Flag      387036 non-null float64
Value     387036 non-null float64
dtypes: float64(2), object(4)
memory usage: 20.7+ MB

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 387036 entries, 200308 to 35913
Data columns (total 6 columns):
Sensor    387036 non-null object
Type      387036 non-null object
Units     387036 non-null object
time      387036 non-null object
Flag      387036 non-null float64
Value     387036 non-null float64
dtypes: float64(2), object(4)
memory usage: 20.7+ MB

In [5]:
df.nunique()

Sensor        3
Type         12
Units         6
time      45012
Flag          2
Value     91869
dtype: int64