In [2]:
%autosave 20
import pandas as pd

Autosaving every 20 seconds

In [117]:
df=pd.read_csv("C:/Users/HP/OneDrive - Newcastle University/Dissertation/Data_sets/Sample dataset values1.csv")
# df1=pd.read_csv("C:/Users/HP/OneDrive - Newcastle University/Dissertation/Data_sets/test.csv",delimiter=",",names=["Sensor","Type","Units","time","Flag","Value"])
df1=pd.read_csv("C:/Users/HP/OneDrive - Newcastle University/Dissertation/Data_sets/test_fake2.csv",delimiter=",",names=["Sensor","Type","Units","time","Flag","Value"])

In [4]:
name_sensor=pd.read_csv("name_sensor.csv", delimiter=",",names=["name"])
name_units=pd.read_csv("name_units.csv", delimiter=",",names=["units"]) 
name_type=pd.read_csv("name_types.csv", delimiter=",",names=["types"])

In [16]:
sensors=df.Sensor.unique().tolist()
sensors[1]

'PER_EMOTE_1309'

In [6]:
def identify(obj,obj_list,table,data,write_to_file):
	#print(data[obj].unique()) 
	if(write_to_file):
		data_s=pd.DataFrame(data[obj].unique())
		new_sensor = data_s[~data_s[0].isin(obj_list.id)]
		ns=[]
		if(len(new_sensor)>0):
			l=len(obj_list)
			for s in new_sensor[0]:
				n=[s,l]
				l=l+1
				ns.append(n)
			ns=pd.DataFrame(ns,columns=["id","factor"])
			ns.to_csv(table,mode='a', header=False,index=False)
			
	obj_list=pd.read_csv(table,delimiter=",",names=["id","factor"])
	l=len(obj_list)
	for i in range(0,l):
		if(len(data.loc[data[obj]==obj_list.id[i]])>0):
			data.loc[data[obj]==obj_list.id[i],obj] =obj_list.factor[i]
# 	print(data[obj].unique())

In [34]:
def identify(actual_combination,name_of_sensor):
    for i in range(0,len(name_of_sensor)):
        sensor=actual_combination.loc[actual_combination.Sensor==name_of_sensor[i]]
        print(sensor)
#         sensor.to_csv("sensor"+str(i)+".csv",mode="a+",header=False,index=False)

In [ ]:
def identify1(a,df1):

In [35]:
identify(a,sensors)

                   Sensor         Type    Units
11  PER_AIRMON_MESH301245     Humidity        %
12  PER_AIRMON_MESH301245           NO   ugm -3
13  PER_AIRMON_MESH301245          NO2   ugm -3
14  PER_AIRMON_MESH301245           O3      ppb
15  PER_AIRMON_MESH301245         PM 4   ugm -3
16  PER_AIRMON_MESH301245          PM1   ugm -3
17  PER_AIRMON_MESH301245         PM10   ugm -3
18  PER_AIRMON_MESH301245        PM2.5   ugm -3
19  PER_AIRMON_MESH301245     Pressure      hpa
20  PER_AIRMON_MESH301245  Temperature  Celsius
            Sensor         Type    Units
21  PER_EMOTE_1309           CO   ugm -3
22  PER_EMOTE_1309     Humidity        %
23  PER_EMOTE_1309           NO   ugm -3
24  PER_EMOTE_1309          NO2   ugm -3
25  PER_EMOTE_1309        Sound       db
26  PER_EMOTE_1309  Temperature  Celsius
                    Sensor         Type    Units
0   PER_AIRMON_MESH1911150           CO   ugm -3
1   PER_AIRMON_MESH1911150     Humidity        %
2   PER_AIRMON_MESH1911150           NO   ugm -3
3   PER_AIRMON_MESH1911150          NO2   ugm -3
4   PER_AIRMON_MESH1911150           O3      ppb
5   PER_AIRMON_MESH1911150         PM 4   ugm -3
6   PER_AIRMON_MESH1911150          PM1   ugm -3
7   PER_AIRMON_MESH1911150         PM10   ugm -3
8   PER_AIRMON_MESH1911150        PM2.5   ugm -3
9   PER_AIRMON_MESH1911150     Pressure      hpa
10  PER_AIRMON_MESH1911150  Temperature  Celsius

In [21]:
a=df.groupby(["Sensor","Type","Units"])["Sensor"].unique().to_frame(name="1").reset_index().drop("1",1)
# a=a.drop("1",1)
a.loc[a.Sensor==sensors[1]]

            Sensor         Type    Units
21  PER_EMOTE_1309           CO   ugm -3
22  PER_EMOTE_1309     Humidity        %
23  PER_EMOTE_1309           NO   ugm -3
24  PER_EMOTE_1309          NO2   ugm -3
25  PER_EMOTE_1309        Sound       db
26  PER_EMOTE_1309  Temperature  Celsius

In [118]:
b=df1.groupby(["Sensor","Type","Units"])["Sensor"].unique().to_frame(name="1").reset_index().drop("1",1)
# a=a.drop("1",1)
b.loc[b.Sensor==sensors[1]]

            Sensor      Type   Units
9   PER_EMOTE_1309  Humidity       %
10  PER_EMOTE_1309        NO  ugm -3
11  PER_EMOTE_1309       NO2  ugm -3
12  PER_EMOTE_1309     Sound      db

In [40]:
b.Sensor[1]

'PER_AIRMON_MESH1911150'

In [48]:
a.Sensor.unique().tolist()
len(a.Sensor.unique())
b.Sensor.unique().tolist()

['PER_AIRMON_MESH1911150', 'PER_AIRMON_MESH301245', 'PER_EMOTE_1309']

3

['PER_AIRMON_MESH1911150', 'PER_AIRMON_MESH301245', 'PER_EMOTE_1309']

In [54]:
c=a.Sensor.unique().tolist()
d=b.Sensor.unique().tolist()
for i in range(0,len(c)):
    for j in range(0,len(d)):
        if(c[i]==d[j]):
            print(c[i],d[j])
        else:
            print(c[i],d[j])

PER_AIRMON_MESH1911150 PER_AIRMON_MESH1911150
PER_AIRMON_MESH1911150 PER_AIRMON_MESH301245
PER_AIRMON_MESH1911150 PER_EMOTE_1309
PER_AIRMON_MESH301245 PER_AIRMON_MESH1911150
PER_AIRMON_MESH301245 PER_AIRMON_MESH301245
PER_AIRMON_MESH301245 PER_EMOTE_1309
PER_EMOTE_1309 PER_AIRMON_MESH1911150
PER_EMOTE_1309 PER_AIRMON_MESH301245
PER_EMOTE_1309 PER_EMOTE_1309

In [55]:
if(a.Sensor==b.Sensor):
    pass

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [127]:
def spoof_detect(a,b):
#     b=df1.groupby(["Sensor","Type","Units"])["Sensor"].unique().to_frame(name="1").reset_index()
#     b=b.drop("1",1)
    c=b.merge(a,how="inner")
#     print(c)
    fake=pd.concat([c,b])
    return fake.drop_duplicates(keep=False).reset_index().drop("index",1)

In [128]:
a=df.groupby(["Sensor","Type","Units"])["Sensor"].unique().to_frame(name="1").reset_index().drop("1",1)
# a
b=df1.groupby(["Sensor","Type","Units"])["Sensor"].unique().to_frame(name="1").reset_index().drop("1",1)
# b
spoof_detect(a[["Sensor"]],b[["Sensor"]])

                     Sensor
0  PER_A2IRMON_MESH41911150
1  PER_AIRMON_MESH119111250
2   PER_AIRMON_MESH191l1150
3   PER_AIRMON_MESHh1911150
4                      abcd

In [129]:
spoof_detect(a[["Sensor","Type"]],b[["Sensor","Type"]])

                     Sensor     Type
0  PER_A2IRMON_MESH41911150      NO2
1  PER_AIRMON_MESH119111250      NO2
2    PER_AIRMON_MESH1911150      NO1
3   PER_AIRMON_MESH191l1150      NO2
4   PER_AIRMON_MESHh1911150      NO2
5                      abcd  NOfsdg2

In [147]:
df1=pd.read_csv("C:/Users/HP/OneDrive - Newcastle University/Dissertation/Data_sets/test_fake_units.csv",delimiter=",",names=["Sensor","Type","Units","time","Flag","Value"])

In [148]:
# len(spoof_detect(a[["Sensor"]],b[["Sensor"]]))
if(len(spoof_detect(a[["Sensor"]],b[["Sensor"]]))==0):
    print("The sensors are all authentic")
    if(len(spoof_detect(a[["Sensor","Type"]],b[["Sensor","Type"]]))==0):
        print("The categories are all authentic")
        if(len(spoof_detect(a[["Sensor","Type","Units"]],b[["Sensor","Type","Units"]]))==0):
            print("The units are all authentic")
        else:
            print("there are fake units")
            print("publish abort")
    else:
        print("there are fake categories")
        print("publish abort")
else:
    print("there are fake sensors")
    print("publish abort")

The sensors are all authentic
The categories are all authentic
there are fake units
publish abort

In [149]:
spoof_detect(a,b)

                  Sensor      Type   Units
0  PER_AIRMON_MESH301245       PM1   ugm-3
1         PER_EMOTE_1309  Humidity  ugm -3
2         PER_EMOTE_1309     Sound       %