In [7]:
%autosave 20
import math 
import numpy as np
import pandas as pd
data=pd.read_csv("test.csv",delimiter=",", 
                    names=["sensor_id","units","type","location","room",
                           "floor","time","value"])
ob_list=pd.read_csv("ob_list.csv", delimiter=",",names=["objects","factors"])
# ob_list
data.head(2)

Autosaving every 20 seconds

,sensor_id,units,type,location,room,floor,time,value
0,5a2bf927-fc7f-45ed-9588-b260326f4216,degrees celsius,Room Temperature,Urban Sciences Building,1,1,2020-05-08T20:22:54.246Z,22.04
1,5a2bf927-fc7f-45ed-9588-b260326f4216,degrees celsius,Room Temperature,Urban Sciences Building,1,1,2020-05-08T20:20:53.556Z,22.06

In [2]:
# data_s=data.sensor_id.unique()
data_s=pd.DataFrame(data.sensor_id.unique())
data_s

                                      0
0  5a2bf927-fc7f-45ed-9588-b260326f4216
1  0fa9fe73-7745-4357-8110-20c5a41251f1
2  cf2c9812-d0c6-4590-9671-fe00c6e3cccc
3  04355307-932b-4a7c-af27-6855f1e1d844
4  baba576e-3af1-4353-a92c-24c4e2787efc
5  c7f39aa4-e4fd-4196-8a71-02473a9be547
6  d8271b8d-70f0-4a00-a0b5-c61560e0dfa7

In [3]:
new_sensor = data_s[~data_s[0].isin(ob_list.objects)]
ns=[]
if(len(new_sensor)>0):
    l=len(ob_list)
    for s in new_sensor[0]:
        n=[s,l]
        l=l+1
        ns.append(n)
    ns=pd.DataFrame(ns,columns=['objects','factors'])
    ns.to_csv('ob_list.csv',mode='a', header=False,index=False)

l=len(ob_list)
for i in range(0,l):
    data.loc[data['sensor_id']==ob_list.objects[i],'sensor_id']=ob_list.factors[i]
data.sensor_id.unique()

In [4]:
l=len(ob_list)
for i in range(0,l):
    data.loc[data['sensor_id']==ob_list.objects[i],'sensor_id']=ob_list.factors[i]
data.sensor_id.unique()

array([ 0,  2,  4,  6,  8, 10, 11], dtype=int64)

In [5]:
new_sensor = data_s[data_s[0].isin(ob_list.objects)]
new_sensor

# data.loc[data['sensor_id']=='sensor01','Sensor']=0

                                      0
0  5a2bf927-fc7f-45ed-9588-b260326f4216
1  0fa9fe73-7745-4357-8110-20c5a41251f1
2  cf2c9812-d0c6-4590-9671-fe00c6e3cccc
3  04355307-932b-4a7c-af27-6855f1e1d844
4  baba576e-3af1-4353-a92c-24c4e2787efc
5  c7f39aa4-e4fd-4196-8a71-02473a9be547
6  d8271b8d-70f0-4a00-a0b5-c61560e0dfa7

In [6]:
df = pd.DataFrame({'Open': [1.20443, 1.20438, 1.20464, 1.20443, 1.20443, 1.2049, 1.20444, 1.20443],
               'High': [1.20447, 1.20467, 1.20497, 1.20446, 1.20447, 1.20505, 1.20446, 1.20446],
               'Low':  [1.20429, 1.20436, 1.20464, 1.20439, 1.20429, 1.20350, 1.20441, 1.20439],
               'Close': [1.20438, 1.20466, 1.20486, 1.20439, 1.20438, 1.20497, 1.20446, 1.20439],
               'Support': [1.20346, 1.20346, 1.20361, 1.20363, 1.20362, 1.20364, 1.20367, 1.20360],
               'BR': [False, False, True, False, False, True, False, False]})
df

      Open     High      Low    Close  Support     BR
0  1.20443  1.20447  1.20429  1.20438  1.20346  False
1  1.20438  1.20467  1.20436  1.20466  1.20346  False
2  1.20464  1.20497  1.20464  1.20486  1.20361   True
3  1.20443  1.20446  1.20439  1.20439  1.20363  False
4  1.20443  1.20447  1.20429  1.20438  1.20362  False
5  1.20490  1.20505  1.20350  1.20497  1.20364   True
6  1.20444  1.20446  1.20441  1.20446  1.20367  False
7  1.20443  1.20446  1.20439  1.20439  1.20360  False