In [1]:
%autosave 20
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt

Autosaving every 20 seconds

In [2]:
df=pd.read_csv("C:/Users/HP/OneDrive - Newcastle University/Dissertation/Data_sets/training_data.csv")
df=df.dropna()
print("sample before ",df.shape)
df.columns

sample before  (377203, 6)

Index(['Sensor', 'Type', 'Units', 'time', 'Flag', 'Value'], dtype='object')

In [3]:
df["time"]=pd.to_datetime(df["time"],infer_datetime_format=True,dayfirst=True)
df.to_csv("C:/Users/HP/OneDrive - Newcastle University/Dissertation/Data_sets/Data_with_proper_date.csv",mode='w',index=False)

In [4]:
# df["Date_new"]=pd.to_datetime(df["time"],infer_datetime_format=True,dayfirst=True)
df=pd.read_csv("C:/Users/HP/OneDrive - Newcastle University/Dissertation/Data_sets/Data_with_proper_date.csv")
df["time"]=pd.to_datetime(df["time"],infer_datetime_format=True,dayfirst=True)
df.shape

(589141, 6)

In [5]:
df["Date"]=[d.date() for d in df["time"]]
df["Date"]=pd.to_datetime(df["Date"],format="%Y/%m/%d")
df["Time"]=[d.time() for d in df["time"]]

In [6]:
df.Date.unique()

array(['2020-05-21T00:00:00.000000000', '2020-06-05T00:00:00.000000000',
       '2020-05-30T00:00:00.000000000', '2020-06-01T00:00:00.000000000',
       '2020-05-29T00:00:00.000000000', '2020-05-24T00:00:00.000000000',
       '2020-06-06T00:00:00.000000000', '2020-05-28T00:00:00.000000000',
       '2020-05-18T00:00:00.000000000', '2020-05-19T00:00:00.000000000',
       '2020-05-26T00:00:00.000000000', '2020-05-15T00:00:00.000000000',
       '2020-05-22T00:00:00.000000000', '2020-05-31T00:00:00.000000000',
       '2020-06-08T00:00:00.000000000', '2020-05-17T00:00:00.000000000',
       '2020-06-10T00:00:00.000000000', '2020-05-16T00:00:00.000000000',
       '2020-05-14T00:00:00.000000000', '2020-06-04T00:00:00.000000000',
       '2020-05-11T00:00:00.000000000', '2020-05-25T00:00:00.000000000',
       '2020-06-02T00:00:00.000000000', '2020-05-13T00:00:00.000000000',
       '2020-05-23T00:00:00.000000000', '2020-06-07T00:00:00.000000000',
       '2020-06-12T00:00:00.000000000', '2020-05-12T00:00:00.000000000',
       '2020-05-20T00:00:00.000000000', '2020-06-11T00:00:00.000000000',
       '2020-06-09T00:00:00.000000000', '2020-06-03T00:00:00.000000000',
       '2020-05-27T00:00:00.000000000'], dtype='datetime64[ns]')

In [19]:
df.drop(df[df["Date"]=="2020-06-13"].index, inplace = True)
# df.drop(df[df['Age'] < 25].index, inplace = True)

In [20]:
df.Date.unique()

array(['2020-05-21T00:00:00.000000000', '2020-05-30T00:00:00.000000000',
       '2020-05-29T00:00:00.000000000', '2020-05-24T00:00:00.000000000',
       '2020-05-28T00:00:00.000000000', '2020-05-18T00:00:00.000000000',
       '2020-05-19T00:00:00.000000000', '2020-05-26T00:00:00.000000000',
       '2020-05-15T00:00:00.000000000', '2020-05-22T00:00:00.000000000',
       '2020-05-31T00:00:00.000000000', '2020-05-17T00:00:00.000000000',
       '2020-05-16T00:00:00.000000000', '2020-05-14T00:00:00.000000000',
       '2020-05-11T00:00:00.000000000', '2020-05-25T00:00:00.000000000',
       '2020-05-13T00:00:00.000000000', '2020-05-23T00:00:00.000000000',
       '2020-05-12T00:00:00.000000000', '2020-05-20T00:00:00.000000000',
       '2020-05-27T00:00:00.000000000'], dtype='datetime64[ns]')

In [21]:
df.to_csv("C:/Users/HP/OneDrive - Newcastle University/Dissertation/Data_sets/Data_with_proper_date.csv",mode='w',index=False)

In [22]:
df.shape

(377203, 8)

In [27]:
df.columns

Index(['Sensor', 'Type', 'Units', 'time', 'Flag', 'Value', 'Date', 'Time'], dtype='object')

In [28]:
df1=df.drop(["Date"],axis=1)

In [30]:
df1=df1.drop(["Time"],axis=1)

In [31]:
df1.head()

                   Sensor   Type   Units                time  Flag       Value
0   PER_AIRMON_MESH301245  PM2.5  ugm -3 2020-05-21 03:45:00   0.0    5.640000
2  PER_AIRMON_MESH1911150   PM10  ugm -3 2020-05-30 18:44:00   0.0    6.357000
5   PER_AIRMON_MESH301245   PM10  ugm -3 2020-05-29 15:19:00   0.0    6.310000
6  PER_AIRMON_MESH1911150   PM 4  ugm -3 2020-05-24 14:56:00   0.0    0.380000
8          PER_EMOTE_1309     CO  ugm -3 2020-05-28 06:20:38   0.0  349.812463

In [35]:
df1.to_csv("C:/Users/HP/OneDrive - Newcastle University/Dissertation/Data_sets/training_data.csv",mode='w',index=False)

In [7]:
df.Units.unique()

array(['ugm -3', '%', 'db', 'Celsius', 'ppb', 'hpa'], dtype=object)