In [1]:
import pandas as pd

In [35]:
df=pd.read_csv("C:/Users/HP/OneDrive - Newcastle University/Dissertation/Data_sets/training_data.csv")
df.head(5)

,Sensor,Type,Units,time,Flag,Value
0,PER_AIRMON_MESH301245,PM2.5,ugm -3,2020-05-21 03:45:00,0.0,5.640000
1,PER_AIRMON_MESH1911150,PM10,ugm -3,2020-05-30 18:44:00,0.0,6.357000
2,PER_AIRMON_MESH301245,PM10,ugm -3,2020-05-29 15:19:00,0.0,6.310000
3,PER_AIRMON_MESH1911150,PM 4,ugm -3,2020-05-24 14:56:00,0.0,0.380000
4,PER_EMOTE_1309,CO,ugm -3,2020-05-28 06:20:38,0.0,349.812463

In [36]:
# df.to_dict('records')

In [37]:
df_true=df[df["Flag"]==0]
len(df_true)

375195

In [38]:
df245=df_true.loc[df_true.Sensor=="PER_AIRMON_MESH301245"]
df245_1=df245.loc[df245.Type=="Temperature"]
max(df245_1.Value)

30.8

In [49]:
def SensorMax(df):
    df_sensor=df.Sensor.unique()
    table=[]
    for j in range(0,len(df_sensor)):
        df1=df.loc[df.Sensor==df_sensor[j]]
        df_cols=df1.Type.unique()
        for i in range(0,len(df_cols)):
            df2=df1.loc[df1.Type==df_cols[i]]
    #         print("Minimum of {} is {}".format(df_cols[i],min(df1.Value)))
    #         print("Maximum of {} is {}".format(df_cols[i],max(df1.Value)))
            minmax=[df_sensor[j],df_cols[i],max(df2.Value),0]
            table.append(minmax)
    
#     print(type(table))
    table=pd.DataFrame(table,columns=["sensor","type","max1","status"])
    table.to_csv("sensormax.csv",mode="w+",index=False)

In [50]:
SensorMax(df)

[['PER_AIRMON_MESH301245', 'PM2.5', 91.75, 0], ['PER_AIRMON_MESH301245', 'PM10', 106.77, 0], ['PER_AIRMON_MESH301245', 'PM 4', 86.91, 0], ['PER_AIRMON_MESH301245', 'PM1', 91.38, 0], ['PER_AIRMON_MESH301245', 'Humidity', 81.1, 0], ['PER_AIRMON_MESH301245', 'NO2', 50.33888, 0], ['PER_AIRMON_MESH301245', 'Pressure', 1035.1, 0], ['PER_AIRMON_MESH301245', 'NO', 71.8825, 0], ['PER_AIRMON_MESH301245', 'O3', 99.687, 0], ['PER_AIRMON_MESH301245', 'Temperature', 30.8, 0], ['PER_AIRMON_MESH1911150', 'PM10', 62.779, 0], ['PER_AIRMON_MESH1911150', 'PM 4', 46.38, 0], ['PER_AIRMON_MESH1911150', 'PM1', 56.45399999999999, 0], ['PER_AIRMON_MESH1911150', 'PM2.5', 57.457, 0], ['PER_AIRMON_MESH1911150', 'NO2', 91.43568, 0], ['PER_AIRMON_MESH1911150', 'NO', 76.6325, 0], ['PER_AIRMON_MESH1911150', 'Humidity', 82.3, 0], ['PER_AIRMON_MESH1911150', 'CO', 577.3181599999998, 0], ['PER_AIRMON_MESH1911150', 'Temperature', 25.4, 0], ['PER_AIRMON_MESH1911150', 'O3', 38.6, 0], ['PER_AIRMON_MESH1911150', 'Pressure', 1046.2, 0], ['PER_EMOTE_1309', 'CO', 758.353407303, 0], ['PER_EMOTE_1309', 'NO', 210.1934937, 0], ['PER_EMOTE_1309', 'Humidity', 87.2, 0], ['PER_EMOTE_1309', 'Sound', 82.0, 0], ['PER_EMOTE_1309', 'NO2', 187.1925735263, 0], ['PER_EMOTE_1309', 'Temperature', 31.6, 0]]

In [5]:
def MinMax(df):
    df_cols=df.Type.unique()
    table=[]
    for i in range(0,len(df_cols)):
        df1=df.loc[df.Type==df_cols[i]]
#         print("Minimum of {} is {}".format(df_cols[i],min(df1.Value)))
#         print("Maximum of {} is {}".format(df_cols[i],max(df1.Value)))
        minmax=[df_cols[i],max(df1.Value),0]
        table.append(minmax)
    table=pd.DataFrame(table,columns=["type","max1","status"])
    table.to_csv("minmax.csv",mode="w+",index=False)

In [6]:
MinMax(df_true)

In [21]:
df1=df.loc[df.Type=="Temperature"]
df2=pd.read_csv("minmax.csv")
df3=df2.loc[df2.type=="Temperature"]
df3

          type  max1  status
1  Temperature  19.0       0

In [22]:
# a=max(df3.max1)
a=25
if(a>=20 and a<25):
    if((a>=20) and df3.status.to_numpy()==0):
        df3.status=df3.status+1
        print("Here")
    elif((a>=20) and df3.status.to_numpy()==1):
        pass
    else:
        df3.status=df3.status-1
if(a>=25 and a<30):
    print("1")
    if((a>=25) and df3.status.to_numpy()==1):
        df3.status=df3.status+2
        print("Here")
    elif((a>=25) and df3.status.to_numpy()==0):
        pass
    else:
        df3.status=df3.status-1
# elif(a>26 and a<30):
#     df3.status=df3.status+1
df2.loc[df2.type=="Temperature"]
df3

1

          type  max1  status
1  Temperature  19.0       0

          type  max1  status
1  Temperature  19.0       0

In [23]:
# df3=df2.loc[df2.type=="Temperature"]
# df3.status=df3.status+2
# # df3.status=df3.status+1
# df3
df3.max1

1    19.0
Name: max1, dtype: float64

In [10]:
df2.loc[df2.type=="Temperature"]

          type  max1  status
1  Temperature  19.1       0

In [11]:
df2

           type         max1  status
0           NO2    73.877157       0
1   Temperature    19.100000       0
2            O3    47.651000       0
3          PM 4    24.710000       0
4           PM1    14.310000       0
5         PM2.5    20.240000       0
6      Humidity    81.400000       0
7          PM10    28.150000       0
8            CO   366.716252       0
9      Pressure  1006.700000       0
10           NO    95.698762       0
11        Sound    78.000000       0

In [12]:
a=19.5
b=df3["status"].to_numpy()
b
type(b)
if(b==0):
    print("true")
    
# df3.max1

array([0], dtype=int64)

numpy.ndarray

true

In [24]:
df1=df.loc[df.Type=="Temperature"]
df2=pd.read_csv("minmax.csv")
df3=df2.loc[df2.type=="Temperature"]
df3
df2

          type  max1  status
1  Temperature  19.0       0

           type         max1  status
0           NO2    73.877157       0
1   Temperature    19.000000       0
2            O3    47.651000       0
3          PM 4    24.710000       0
4           PM1    14.310000       0
5         PM2.5    20.240000       0
6      Humidity    81.400000       0
7          PM10    28.150000       0
8            CO   366.716252       0
9      Pressure  1006.700000       0
10           NO    95.698762       0
11        Sound    78.000000       0

In [25]:
def check(a):
    
    if(a<30):
        if(df3.status.to_numpy()==1):
            df3.status=df3.status-1
        elif(df3.status.to_numpy()==2):
            df3.status=df3.status-2
        elif(df3.status.to_numpy()==3):
            df3.status=df3.status-3
        elif(df3.status.to_numpy()==4):
            df3.status=df3.status-4
        else:
            df3.status=df3.status
    if(a>=20 and a<25):
        if(df3.status.to_numpy()==0):
            df3.status=df3.status+1
        elif(df3.status.to_numpy()==2):
            df3.status=df3.status-1
        elif(df3.status.to_numpy()==3):
            df3.status=df3.status-2
        elif(df3.status.to_numpy()==4):
            df3.status=df3.status-3
        else:
            df3.status=df3.status
    if(a>=25 and a<30):
        if(df3.status.to_numpy()==0):
            df3.status=df3.status+2
        elif(df3.status.to_numpy()==1):
            df3.status=df3.status+1    
        elif(df3.status.to_numpy()==3):
            df3.status=df3.status-1
        elif(df3.status.to_numpy()==4):
            df3.status=df3.status-2
        else:
            df3.status=df3.status
    if(a>=30 and a<35):
        if(df3.status.to_numpy()==0):
            df3.status=df3.status+3
        elif(df3.status.to_numpy()==1):
            df3.status=df3.status+2
        elif(df3.status.to_numpy()==2):
            df3.status=df3.status+1
        elif(df3.status.to_numpy()==4):
            df3.status=df3.status-1
        else:
            df3.status=df3.status
    if(a>=35 and a<40):
        if(df3.status.to_numpy()==0):
            df3.status=df3.status+4
        elif(df3.status.to_numpy()==1):
            df3.status=df3.status+3
        elif(df3.status.to_numpy()==2):
            df3.status=df3.status+2
        elif(df3.status.to_numpy()==3):
            df3.status=df3.status+1
        else:
            df3.status=df3.status
    print(df3)

In [26]:
# temp <20
# temp>=20 and temp<25 =1
# temp>=25 and temp<30 =2
# temp>=30 and temp<35 =3
# temp>=35 and temp<40 =4

check(19)

          type  max1  status
1  Temperature  19.0       0

C:\Users\HP\Anaconda3\envs\Machine_Learning\lib\site-packages\pandas\core\generic.py:5208: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [27]:
df2

           type         max1  status
0           NO2    73.877157       0
1   Temperature    19.000000       0
2            O3    47.651000       0
3          PM 4    24.710000       0
4           PM1    14.310000       0
5         PM2.5    20.240000       0
6      Humidity    81.400000       0
7          PM10    28.150000       0
8            CO   366.716252       0
9      Pressure  1006.700000       0
10           NO    95.698762       0
11        Sound    78.000000       0

In [28]:
df2.loc[df2.type=="Temperature","status"]=1

In [29]:
df2.loc[df2.type=="Temperature"].status.to_numpy()+2

array([3], dtype=int64)

In [30]:
def check(a):
    if(a<=19):
        if(df2.loc[df2.type=="Temperature"].status.to_numpy()==1):
            df2.loc[df2.type=="Temperature","status"]=df2.loc[df2.type=="Temperature"].status.to_numpy()-1
        elif(df2.loc[df2.type=="Temperature"].status.to_numpy()==2):
            df2.loc[df2.type=="Temperature","status"]=df2.loc[df2.type=="Temperature"].status.to_numpy()-2
        elif(df2.loc[df2.type=="Temperature"].status.to_numpy()==3):
            df2.loc[df2.type=="Temperature","status"]=df2.loc[df2.type=="Temperature"].status.to_numpy()-3
        elif(df2.loc[df2.type=="Temperature"].status.to_numpy()==4):
            df2.loc[df2.type=="Temperature","status"]=df2.loc[df2.type=="Temperature"].status.to_numpy()-4
        else:
            df2.loc[df2.type=="Temperature","status"]=df2.loc[df2.type=="Temperature"].status.to_numpy()
    if(a>=20 and a<25):
        if(df2.loc[df2.type=="Temperature"].status.to_numpy()==0):
            df2.loc[df2.type=="Temperature","status"]=df2.loc[df2.type=="Temperature"].status.to_numpy()+1
        elif(df2.loc[df2.type=="Temperature"].status.to_numpy()==2):
            df2.loc[df2.type=="Temperature","status"]=df2.loc[df2.type=="Temperature"].status.to_numpy()-1
        elif(df2.loc[df2.type=="Temperature"].status.to_numpy()==3):
            df2.loc[df2.type=="Temperature","status"]=df2.loc[df2.type=="Temperature"].status.to_numpy()-2
        elif(df2.loc[df2.type=="Temperature"].status.to_numpy()==4):
            df2.loc[df2.type=="Temperature","status"]=df2.loc[df2.type=="Temperature"].status.to_numpy()-3
        else:
            df2.loc[df2.type=="Temperature","status"]=df2.loc[df2.type=="Temperature"].status.to_numpy()
    if(a>=25 and a<30):
        if(df2.loc[df2.type=="Temperature"].status.to_numpy()==0):
            df2.loc[df2.type=="Temperature","status"]=df2.loc[df2.type=="Temperature"].status.to_numpy()+2
        elif(df2.loc[df2.type=="Temperature"].status.to_numpy()==1):
            df2.loc[df2.type=="Temperature","status"]=df2.loc[df2.type=="Temperature"].status.to_numpy()+1    
        elif(df2.loc[df2.type=="Temperature"].status.to_numpy()==3):
            df2.loc[df2.type=="Temperature","status"]=df2.loc[df2.type=="Temperature"].status.to_numpy()-1
        elif(df2.loc[df2.type=="Temperature"].status.to_numpy()==4):
            df2.loc[df2.type=="Temperature","status"]=df2.loc[df2.type=="Temperature"].status.to_numpy()-2
        else:
            df2.loc[df2.type=="Temperature","status"]=df2.loc[df2.type=="Temperature"].status.to_numpy()
    if(a>=30 and a<35):
        if(df2.loc[df2.type=="Temperature"].status.to_numpy()==0):
            df2.loc[df2.type=="Temperature","status"]=df2.loc[df2.type=="Temperature"].status.to_numpy()+3
        elif(df2.loc[df2.type=="Temperature"].status.to_numpy()==1):
            df2.loc[df2.type=="Temperature","status"]=df2.loc[df2.type=="Temperature"].status.to_numpy()+2
        elif(df2.loc[df2.type=="Temperature"].status.to_numpy()==2):
            df2.loc[df2.type=="Temperature","status"]=df2.loc[df2.type=="Temperature"].status.to_numpy()+1
        elif(df2.loc[df2.type=="Temperature"].status.to_numpy()==4):
            df2.loc[df2.type=="Temperature","status"]=df2.loc[df2.type=="Temperature"].status.to_numpy()-1
        else:
            df2.loc[df2.type=="Temperature","status"]=df2.loc[df2.type=="Temperature"].status.to_numpy()
    if(a>=35 and a<40):
        if(df2.loc[df2.type=="Temperature"].status.to_numpy()==0):
            df2.loc[df2.type=="Temperature","status"]=df2.loc[df2.type=="Temperature"].status.to_numpy()+4
        elif(df2.loc[df2.type=="Temperature"].status.to_numpy()==1):
            df2.loc[df2.type=="Temperature","status"]=df2.loc[df2.type=="Temperature"].status.to_numpy()+3
        elif(df2.loc[df2.type=="Temperature"].status.to_numpy()==2):
            df2.loc[df2.type=="Temperature","status"]=df2.loc[df2.type=="Temperature"].status.to_numpy()+2
        elif(df2.loc[df2.type=="Temperature"].status.to_numpy()==3):
            df2.loc[df2.type=="Temperature","status"]=df2.loc[df2.type=="Temperature"].status.to_numpy()+1
        else:
            df2.loc[df2.type=="Temperature","status"]=df2.loc[df2.type=="Temperature"].status.to_numpy()
    if(a>=40):
        if(df2.loc[df2.type=="Temperature"].status.to_numpy()==4):
            df2.loc[df2.type=="Temperature","status"]=df2.loc[df2.type=="Temperature"].status.to_numpy()
        else:
            df2.loc[df2.type=="Temperature","status"]=df2.loc[df2.type=="Temperature"].status.to_numpy()+4
        print("publish Danger")
    df2.loc[df2.type=="Temperature","max1"]=a
    print(df2.loc[df2.type=="Temperature"])
    df2.to_csv("minmax.csv",mode="w+",index=False)

In [31]:
# check(10)
a=max(df.loc[df.Type=="Temperature"].Value)
check(int(a))

          type  max1  status
1  Temperature  31.0       3

In [32]:
max(df.loc[df.Type=="Temperature"].Value)

31.6

In [ ]:
df245=df_true.loc[df_true.Sensor=="PER_AIRMON_MESH301245"]
df245_1=df245.loc[df245.Type=="Temperature"]
max(df245_1.Value)