In [1]:
%autosave 20
import math 
import pandas as pd

#import numpy as np
import matplotlib.pyplot as plt

from matplotlib.colors import ListedColormap
%matplotlib inline
from sklearn import tree

from sklearn.tree import DecisionTreeClassifier

from sklearn.metrics import accuracy_score
from sklearn.metrics import f1_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score

Autosaving every 20 seconds

In [2]:
df=pd.read_csv("Sample dataset values.txt")
df.head(3)
df.shape
total_row=df.shape[0]
trial_row=int(total_row-(total_row*0.25))
print("total rows")

,Sr No,Sensor,Name,Variable,Units,Timestamp,Value,Flagged as Suspect Reading
0,1586958692652188245,sensor03,PER_AIRMON_MESH1976150,PM10,ugm -3,2018-12-13 03:16:00,16.12200,False
1,1586958692652348737,sensor01,PER_AIRMON_MESH1976150,PM 4,ugm -3,2018-12-14 12:46:00,5.19000,False
2,1586958692652681524,sensor02,PER_AIRMON_MESH1976150,NO,ugm -3,2018-12-14 00:30:00,0.08875,False

(267, 8)

total rows

In [3]:
def uni(col):
    print("There are ",len(df[col].unique())," unique elements  of column ", col," and they are ", df[col].unique())

In [4]:
list(map(uni,df[['Sensor', 'Name', 'Variable', 'Units','Flagged as Suspect Reading']]))

There are  3  unique elements  of column  Sensor  and they are  ['sensor03' 'sensor01' 'sensor02']
There are  1  unique elements  of column  Name  and they are  ['PER_AIRMON_MESH1976150']
There are  8  unique elements  of column  Variable  and they are  ['PM10' 'PM 4' 'NO' 'PM2.5' 'PM1' 'Particle Count' 'O3' 'NO2']
There are  3  unique elements  of column  Units  and they are  ['ugm -3' 'Kgm -3' 'ppb']
There are  2  unique elements  of column  Flagged as Suspect Reading  and they are  [False  True]

[None, None, None, None, None]

In [5]:
df.loc[df['Sensor']=='sensor01','Sensor']=0
df.loc[df['Sensor']=='sensor02','Sensor']=1
df.loc[df['Sensor']=='sensor03','Sensor']=2

In [6]:
df.loc[df['Variable']=='PM10','Variable']=0
df.loc[df['Variable']=='PM 4','Variable']=1
df.loc[df['Variable']=='NO','Variable']=2
df.loc[df['Variable']=='PM2.5','Variable']=3
df.loc[df['Variable']=='PM1','Variable']=4
df.loc[df['Variable']=='Particle Count','Variable']=5
df.loc[df['Variable']=='O3','Variable']=6
df.loc[df['Variable']=='NO2','Variable']=7

In [7]:
df.loc[df['Name']=='PER_AIRMON_MESH1976150','Name']=0

In [8]:
df.loc[df['Units']=='ugm -3','Units']=0
df.loc[df['Units']=='Kgm -3','Units']=1
df.loc[df['Units']=='ppb','Units']=2

In [9]:
df.loc[df['Flagged as Suspect Reading']==False,'Flagged as Suspect Reading']=0
df.loc[df['Flagged as Suspect Reading']==True,'Flagged as Suspect Reading']=1

In [10]:
x=['Sensor', 'Name', 'Variable', 'Units','Value']
y=['Flagged as Suspect Reading']
train=df.loc[1:trial_row,]
test=df.loc[trial_row+1:total_row,]

In [11]:
# train[['Value']]=train[['Value']].astype(int)
# test[['Value']]=test[['Value']].astype(int)

In [12]:
x_train,y_train,x_test,y_test = train[x],train[y],test[x],test[y]

In [13]:
x_train.head()
y_train.head()
x_test.head()
y_test.head()

   Sensor  Name  Variable  Units     Value
1       0     0         1      0   5.19000
2       1     0         2      0   0.08875
3       0     0         3      0  13.84500
4       1     0         1      0   1.76000
5       0     0         0      0  26.34600

   Flagged as Suspect Reading
1                           0
2                           0
3                           0
4                           0
5                           0

     Sensor  Name  Variable  Units   Value
201       0     0         0      0  19.250
202       0     0         3      0  13.845
203       1     0         1      0   1.330
204       0     0         1      0   5.200
205       1     0         2      0   1.940

     Flagged as Suspect Reading
201                           0
202                           0
203                           0
204                           0
205                           0

In [14]:
train['Flagged as Suspect Reading'].value_counts()
test['Flagged as Suspect Reading'].value_counts()

0    191
1      9
Name: Flagged as Suspect Reading, dtype: int64

0    63
1     3
Name: Flagged as Suspect Reading, dtype: int64

In [15]:
x_train.info()
y_train.info()
x_test.info()
y_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 1 to 200
Data columns (total 5 columns):
Sensor      200 non-null int64
Name        200 non-null int64
Variable    200 non-null int64
Units       200 non-null int64
Value       200 non-null float64
dtypes: float64(1), int64(4)
memory usage: 7.9 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 1 to 200
Data columns (total 1 columns):
Flagged as Suspect Reading    200 non-null int64
dtypes: int64(1)
memory usage: 1.7 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66 entries, 201 to 266
Data columns (total 5 columns):
Sensor      66 non-null int64
Name        66 non-null int64
Variable    66 non-null int64
Units       66 non-null int64
Value       66 non-null float64
dtypes: float64(1), int64(4)
memory usage: 2.7 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66 entries, 201 to 266
Data columns (total 1 columns):
Flagged as Suspect Reading    66 non-null int64
dtypes: int64(1)
memory usage: 660.0 bytes

In [16]:
x_train.shape
y_train.shape
x_test.shape
y_test.shape

(200, 5)

(200, 1)

(66, 5)

(66, 1)

In [17]:
type(x_train)
type(y_train)
type(x_test)
type(y_test)

pandas.core.frame.DataFrame

pandas.core.frame.DataFrame

pandas.core.frame.DataFrame

pandas.core.frame.DataFrame

In [18]:
x_train.values

array([[ 0.     ,  0.     ,  1.     ,  0.     ,  5.19   ],
       [ 1.     ,  0.     ,  2.     ,  0.     ,  0.08875],
       [ 0.     ,  0.     ,  3.     ,  0.     , 13.845  ],
       [ 1.     ,  0.     ,  1.     ,  0.     ,  1.76   ],
       [ 0.     ,  0.     ,  0.     ,  0.     , 26.346  ],
       [ 0.     ,  0.     ,  4.     ,  0.     , 10.727  ],
       [ 1.     ,  0.     ,  5.     ,  1.     ,  2.69   ],
       [ 0.     ,  0.     ,  6.     ,  2.     , 10.323  ],
       [ 0.     ,  0.     ,  7.     ,  0.     , 34.48484],
       [ 1.     ,  0.     ,  1.     ,  0.     ,  1.81   ],
       [ 2.     ,  0.     ,  2.     ,  0.     , -3.985  ],
       [ 0.     ,  0.     ,  2.     ,  0.     ,  7.5225 ],
       [ 1.     ,  0.     ,  3.     ,  0.     ,  3.859  ],
       [ 0.     ,  0.     ,  5.     ,  1.     ,  3.6    ],
       [ 0.     ,  0.     ,  2.     ,  0.     , 21.49625],
       [ 1.     ,  0.     ,  0.     ,  0.     , 13.319  ],
       [ 0.     ,  0.     ,  7.     ,  0.     , 32.48828],
       [ 1.     ,  0.     ,  4.     ,  0.     ,  2.279  ],
       [ 0.     ,  0.     ,  6.     ,  2.     , 14.257  ],
       [ 0.     ,  0.     ,  5.     ,  1.     ,  2.25   ],
       [ 1.     ,  0.     ,  7.     ,  0.     , 22.18212],
       [ 2.     ,  0.     ,  7.     ,  0.     , 11.8816 ],
       [ 0.     ,  0.     ,  4.     ,  0.     , 10.992  ],
       [ 1.     ,  0.     ,  2.     ,  0.     ,  2.22625],
       [ 0.     ,  0.     ,  0.     ,  0.     , 21.341  ],
       [ 0.     ,  0.     ,  1.     ,  0.     ,  5.2    ],
       [ 1.     ,  0.     ,  6.     ,  2.     , 20.182  ],
       [ 0.     ,  0.     ,  3.     ,  0.     , 13.465  ],
       [ 1.     ,  0.     ,  2.     ,  0.     ,  6.49125],
       [ 0.     ,  0.     ,  2.     ,  0.     , 20.415  ],
       [ 0.     ,  0.     ,  7.     ,  0.     , 40.03836],
       [ 1.     ,  0.     ,  7.     ,  0.     , 21.76852],
       [ 2.     ,  0.     ,  6.     ,  2.     , 26.933  ],
       [ 0.     ,  0.     ,  6.     ,  2.     ,  6.419  ],
       [ 1.     ,  0.     ,  6.     ,  2.     , 17.286  ],
       [ 0.     ,  0.     ,  5.     ,  1.     ,  1.8    ],
       [ 1.     ,  0.     ,  5.     ,  1.     ,  1.36   ],
       [ 0.     ,  0.     ,  4.     ,  0.     , 10.408  ],
       [ 0.     ,  0.     ,  0.     ,  0.     , 17.947  ],
       [ 1.     ,  0.     ,  4.     ,  0.     ,  2.12   ],
       [ 0.     ,  0.     ,  1.     ,  0.     ,  3.97   ],
       [ 1.     ,  0.     ,  0.     ,  0.     ,  8.314  ],
       [ 0.     ,  0.     ,  3.     ,  0.     , 11.599  ],
       [ 0.     ,  0.     ,  2.     ,  0.     ,  7.5225 ],
       [ 2.     ,  0.     ,  5.     ,  1.     ,  6.297  ],
       [ 0.     ,  0.     ,  7.     ,  0.     , 40.98024],
       [ 1.     ,  0.     ,  3.     ,  0.     ,  3.41   ],
       [ 0.     ,  0.     ,  6.     ,  2.     ,  7.031  ],
       [ 1.     ,  0.     ,  1.     ,  0.     ,  1.64   ],
       [ 0.     ,  0.     ,  5.     ,  1.     ,  2.84   ],
       [ 1.     ,  0.     ,  2.     ,  0.     , -3.72875],
       [ 0.     ,  0.     ,  4.     ,  0.     , 11.152  ],
       [ 0.     ,  0.     ,  0.     ,  0.     , 24.118  ],
       [ 1.     ,  0.     ,  7.     ,  0.     , 23.58272],
       [ 2.     ,  0.     ,  0.     ,  0.     , 22.291  ],
       [ 0.     ,  0.     ,  1.     ,  0.     ,  5.49   ],
       [ 1.     ,  0.     ,  6.     ,  2.     , 18.521  ],
       [ 0.     ,  0.     ,  3.     ,  0.     , 14.19   ],
       [ 0.     ,  0.     ,  2.     ,  0.     , 33.74125],
       [ 1.     ,  0.     ,  5.     ,  1.     ,  0.85   ],
       [ 0.     ,  0.     ,  7.     ,  0.     , 55.04828],
       [ 1.     ,  0.     ,  4.     ,  0.     ,  2.279  ],
       [ 0.     ,  0.     ,  6.     ,  2.     ,  6.497  ],
       [ 0.     ,  0.     ,  5.     ,  1.     ,  1.93   ],
       [ 1.     ,  0.     ,  0.     ,  0.     ,  6.737  ],
       [ 2.     ,  0.     ,  3.     ,  0.     ,  9.679  ],
       [ 0.     ,  0.     ,  4.     ,  0.     , 11.152  ],
       [ 1.     ,  0.     ,  3.     ,  0.     ,  3.582  ],
       [ 0.     ,  0.     ,  0.     ,  0.     , 20.176  ],
       [ 0.     ,  0.     ,  3.     ,  0.     , 13.396  ],
       [ 1.     ,  0.     ,  1.     ,  0.     ,  1.43   ],
       [ 0.     ,  0.     ,  1.     ,  0.     ,  4.81   ],
       [ 1.     ,  0.     ,  2.     ,  0.     ,  0.51125],
       [ 0.     ,  0.     ,  2.     ,  0.     , 18.62375],
       [ 0.     ,  0.     ,  7.     ,  0.     , 59.31776],
       [ 1.     ,  0.     ,  7.     ,  0.     , 17.66072],
       [ 2.     ,  0.     ,  4.     ,  0.     ,  6.469  ],
       [ 0.     ,  0.     ,  6.     ,  2.     , -0.418  ],
       [ 1.     ,  0.     ,  6.     ,  2.     , 21.909  ],
       [ 0.     ,  0.     ,  5.     ,  1.     ,  2.47   ],
       [ 1.     ,  0.     ,  5.     ,  1.     ,  1.18   ],
       [ 0.     ,  0.     ,  4.     ,  0.     , 10.302  ],
       [ 0.     ,  0.     ,  0.     ,  0.     , 21.067  ],
       [ 1.     ,  0.     ,  4.     ,  0.     ,  1.961  ],
       [ 0.     ,  0.     ,  3.     ,  0.     , 12.428  ],
       [ 0.     ,  0.     ,  1.     ,  0.     ,  4.89   ],
       [ 1.     ,  0.     ,  0.     ,  0.     ,  7.628  ],
       [ 2.     ,  0.     ,  2.     ,  0.     , -3.77875],
       [ 0.     ,  0.     ,  3.     ,  0.     , 15.814  ],
       [ 1.     ,  0.     ,  3.     ,  0.     ,  3.34   ],
       [ 0.     ,  0.     ,  2.     ,  0.     ,  8.70375],
       [ 0.     ,  0.     ,  7.     ,  0.     , 48.94392],
       [ 1.     ,  0.     ,  1.     ,  0.     ,  1.24   ],
       [ 0.     ,  0.     ,  6.     ,  2.     ,  7.055  ],
       [ 1.     ,  0.     ,  2.     ,  0.     , -3.70375],
       [ 0.     ,  0.     ,  5.     ,  1.     ,  3.87   ],
       [ 0.     ,  0.     ,  4.     ,  0.     , 12.108  ],
       [ 1.     ,  0.     ,  7.     ,  0.     , 12.8404 ],
       [ 2.     ,  0.     ,  7.     ,  0.     , 14.852  ],
       [ 0.     ,  0.     ,  0.     ,  0.     , 29.226  ],
       [ 1.     ,  0.     ,  6.     ,  2.     , 24.308  ],
       [ 0.     ,  0.     ,  1.     ,  0.     ,  6.14   ],
       [ 0.     ,  0.     ,  2.     ,  0.     , 22.42875],
       [ 1.     ,  0.     ,  5.     ,  1.     ,  1.87   ],
       [ 0.     ,  0.     ,  7.     ,  0.     , 50.84836],
       [ 1.     ,  0.     ,  4.     ,  0.     ,  2.12   ],
       [ 0.     ,  0.     ,  6.     ,  2.     ,  7.265  ],
       [ 0.     ,  0.     ,  5.     ,  1.     ,  3.15   ],
       [ 1.     ,  0.     ,  0.     ,  0.     , 10.131  ],
       [ 2.     ,  0.     ,  6.     ,  2.     , 15.308  ],
       [ 0.     ,  0.     ,  4.     ,  0.     , 10.514  ],
       [ 1.     ,  0.     ,  3.     ,  0.     ,  3.479  ],
       [ 0.     ,  0.     ,  0.     ,  0.     , 24.255  ],
       [ 0.     ,  0.     ,  1.     ,  0.     ,  5.52   ],
       [ 1.     ,  0.     ,  1.     ,  0.     ,  1.47   ],
       [ 0.     ,  0.     ,  3.     ,  0.     , 13.326  ],
       [ 0.     ,  0.     ,  2.     ,  0.     , 24.0575 ],
       [ 1.     ,  0.     ,  2.     ,  0.     ,  0.48625],
       [ 0.     ,  0.     ,  7.     ,  0.     , 47.97948],
       [ 1.     ,  0.     ,  7.     ,  0.     , 16.92752],
       [ 2.     ,  0.     ,  5.     ,  1.     ,  4.055  ],
       [ 0.     ,  0.     ,  6.     ,  2.     ,  8.218  ],
       [ 1.     ,  0.     ,  6.     ,  2.     , 17.747  ],
       [ 0.     ,  0.     ,  4.     ,  0.     , 11.577  ],
       [ 0.     ,  0.     ,  0.     ,  0.     , 27.512  ],
       [ 1.     ,  0.     ,  5.     ,  1.     ,  1.94   ],
       [ 0.     ,  0.     ,  3.     ,  0.     , 14.743  ],
       [ 1.     ,  0.     ,  4.     ,  0.     ,  2.226  ],
       [ 0.     ,  0.     ,  1.     ,  0.     ,  5.67   ],
       [ 0.     ,  0.     ,  5.     ,  1.     ,  3.68   ],
       [ 1.     ,  0.     ,  0.     ,  0.     , 10.577  ],
       [ 2.     ,  0.     ,  0.     ,  0.     , 14.604  ],
       [ 0.     ,  0.     ,  2.     ,  0.     , 12.98   ],
       [ 1.     ,  0.     ,  3.     ,  0.     ,  3.651  ],
       [ 0.     ,  0.     ,  7.     ,  0.     , 52.70768],
       [ 0.     ,  0.     ,  6.     ,  2.     ,  2.461  ],
       [ 1.     ,  0.     ,  1.     ,  0.     ,  1.52   ],
       [ 0.     ,  0.     ,  5.     ,  1.     ,  2.96   ],
       [ 1.     ,  0.     ,  2.     ,  0.     , -3.62875],
       [ 0.     ,  0.     ,  4.     ,  0.     , 10.939  ],
       [ 0.     ,  0.     ,  0.     ,  0.     , 24.049  ],
       [ 1.     ,  0.     ,  7.     ,  0.     , 13.78228],
       [ 2.     ,  0.     ,  3.     ,  0.     ,  8.542  ],
       [ 0.     ,  0.     ,  1.     ,  0.     ,  5.18   ],
       [ 1.     ,  0.     ,  6.     ,  2.     , 17.807  ],
       [ 0.     ,  0.     ,  3.     ,  0.     , 13.741  ],
       [ 1.     ,  0.     ,  5.     ,  1.     ,  1.54   ],
       [ 0.     ,  0.     ,  2.     ,  0.     , 15.16875],
       [ 0.     ,  0.     ,  6.     ,  2.     ,  1.442  ],
       [ 1.     ,  0.     ,  4.     ,  0.     ,  2.332  ],
       [ 0.     ,  0.     ,  5.     ,  1.     ,  2.3    ],
       [ 0.     ,  0.     ,  4.     ,  0.     , 11.152  ],
       [ 1.     ,  0.     ,  0.     ,  0.     , 10.337  ],
       [ 2.     ,  0.     ,  4.     ,  0.     ,  6.463  ],
       [ 0.     ,  0.     ,  0.     ,  0.     , 21.753  ],
       [ 1.     ,  0.     ,  3.     ,  0.     ,  4.792  ],
       [ 0.     ,  0.     ,  3.     ,  0.     , 13.707  ],
       [ 1.     ,  0.     ,  1.     ,  0.     ,  2.26   ],
       [ 0.     ,  0.     ,  1.     ,  0.     ,  5.3    ],
       [ 0.     ,  0.     ,  7.     ,  0.     , 57.82692],
       [ 1.     ,  0.     ,  2.     ,  0.     , -3.8025 ],
       [ 0.     ,  0.     ,  6.     ,  2.     ,  4.686  ],
       [ 0.     ,  0.     ,  2.     ,  0.     ,  1.6675 ],
       [ 1.     ,  0.     ,  7.     ,  0.     , 11.16532],
       [ 0.     ,  0.     ,  7.     ,  0.     , 46.44164],
       [ 2.     ,  0.     ,  2.     ,  0.     , -4.90125],
       [ 1.     ,  0.     ,  6.     ,  2.     , 22.839  ],
       [ 0.     ,  0.     ,  5.     ,  1.     ,  2.54   ],
       [ 0.     ,  0.     ,  4.     ,  0.     , 11.311  ],
       [ 1.     ,  0.     ,  5.     ,  1.     ,  1.02   ],
       [ 0.     ,  0.     ,  0.     ,  0.     , 22.747  ],
       [ 1.     ,  0.     ,  4.     ,  0.     ,  2.439  ],
       [ 0.     ,  0.     ,  3.     ,  0.     , 13.845  ],
       [ 0.     ,  0.     ,  1.     ,  0.     ,  5.13   ],
       [ 1.     ,  0.     ,  0.     ,  0.     ,  7.594  ],
       [ 2.     ,  0.     ,  7.     ,  0.     , 12.96448],
       [ 0.     ,  0.     ,  1.     ,  0.     ,  5.55   ],
       [ 1.     ,  0.     ,  3.     ,  0.     ,  3.893  ],
       [ 0.     ,  0.     ,  2.     ,  0.     , 20.675  ],
       [ 0.     ,  0.     ,  7.     ,  0.     , 46.671  ],
       [ 1.     ,  0.     ,  1.     ,  0.     ,  1.57   ],
       [ 0.     ,  0.     ,  6.     ,  2.     ,  8.968  ],
       [ 1.     ,  0.     ,  2.     ,  0.     , -4.02625],
       [ 0.     ,  0.     ,  5.     ,  1.     ,  2.82   ],
       [ 0.     ,  0.     ,  4.     ,  0.     , 10.833  ],
       [ 1.     ,  0.     ,  7.     ,  0.     , 16.6286 ],
       [ 2.     ,  0.     ,  6.     ,  2.     , 21.749  ],
       [ 0.     ,  0.     ,  0.     ,  0.     , 23.707  ],
       [ 1.     ,  0.     ,  6.     ,  2.     , 21.429  ],
       [ 0.     ,  0.     ,  3.     ,  0.     , 13.879  ],
       [ 1.     ,  0.     ,  5.     ,  1.     ,  1.63   ],
       [ 0.     ,  0.     ,  2.     ,  0.     , -3.75375],
       [ 0.     ,  0.     ,  7.     ,  0.     , 48.99092],
       [ 1.     ,  0.     ,  4.     ,  0.     ,  2.173  ],
       [ 0.     ,  0.     ,  6.     ,  2.     ,  9.262  ],
       [ 0.     ,  0.     ,  5.     ,  1.     ,  1.53   ],
       [ 1.     ,  0.     ,  0.     ,  0.     ,  9.103  ],
       [ 2.     ,  0.     ,  5.     ,  1.     ,  6.153  ],
       [ 0.     ,  0.     ,  4.     ,  0.     , 10.939  ],
       [ 1.     ,  0.     ,  3.     ,  0.     ,  3.271  ]])

In [19]:
#confusion Matrix
def ConfusionMatrix(x,y):
    a = confusion_matrix(x,y)
    print(a)
    b = (a[0][0]+a[1][1])/(a[1][1]+a[0][1]+a[0][0]+a[1][0])
    return round(b*100,2)

In [20]:
#Decision Tree
decision = DecisionTreeClassifier(max_depth=5).fit(x_train, y_train)
decision_yhat = decision.predict(x_test)

print(decision.score(x_test,y_test))

decision_acc= ConfusionMatrix(decision_yhat,y_test)
print(decision_acc)

f1_score(decision_yhat,y_test) *100

print(precision_score(decision_yhat,y_test) *100)
print(recall_score(decision_yhat,y_test) *100)

1.0
[[63  0]
 [ 0  3]]
100.0

100.0

100.0
100.0

In [21]:
# dt=DecisionTreeClassifier()
# dt.fit(x_train,y_train)
# dt.predict(x_test)
# a=dt.predict_proba(x_test)
# list(a)

In [22]:
# tree.plot_tree(dt.fit(x_train,y_train))