In [1]:
%autosave 20
import math 
import time
import pandas as pd
from sklearn.utils import shuffle

Autosaving every 20 seconds

In [2]:
# Loading new dataset to remove teh duplicates
start=time.time()
end=time.time()
print("before loading the test",end-start)
df_t=pd.read_csv("C:/Users/HP/OneDrive - Newcastle University/Dissertation/Data_sets/test.csv",delimiter=",",names=["Sensor","Type","Units","time","Flag","Value"])
end=time.time()
print("after loading the test",end-start)

print("test before ",df_t.shape)
# len(df_t.packet_no.unique())
end=time.time()
print("after removing duplicates the test",end-start)

# df_t=df_t.drop(["packet_no","Key"],1)
df_t=df_t.drop_duplicates()
print("test after ",df_t.shape)

df_t=df_t.drop_duplicates()
print("test after ",df_t.shape)
df_t.head(5)
df_t.info()

before loading the test 0.0
after loading the test 0.0993349552154541
test before  (76996, 6)
after removing duplicates the test 0.0993349552154541
test after  (31838, 6)
test after  (31838, 6)

                   Sensor Type   Units                 time   Flag     Value
0  PER_AIRMON_MESH1911150  NO2  ugm -3  2020-06-14 07:15:00  False  34.85708
1  PER_AIRMON_MESH1911150  NO2  ugm -3  2020-06-14 07:30:00  False  33.75728
2  PER_AIRMON_MESH1911150  NO2  ugm -3  2020-06-14 07:45:00  False  36.83672
3  PER_AIRMON_MESH1911150  NO2  ugm -3  2020-06-14 08:00:00  False  36.55660
4  PER_AIRMON_MESH1911150  NO2  ugm -3  2020-06-14 08:15:00  False  36.81604

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31838 entries, 0 to 57779
Data columns (total 6 columns):
Sensor    31838 non-null object
Type      31838 non-null object
Units     31838 non-null object
time      31838 non-null object
Flag      31838 non-null bool
Value     31838 non-null float64
dtypes: bool(1), float64(1), object(4)
memory usage: 1.5+ MB

In [3]:
df_s=pd.read_csv("C:/Users/HP/OneDrive - Newcastle University/Dissertation/Data_sets/Sample dataset values1.csv")
# df_s=df_s.drop("Key",1)
df_s=df_s.dropna()
print("sample before ",df_s.shape)

df_c=pd.concat([df_s,df_t], axis=0, ignore_index=True)
print("sample after concat ",df_c.shape)

df_remove=df_c.drop_duplicates()
print("after removing duplicates ",df_remove.shape)

df_shuffle = shuffle(df_remove)
df_shuffle.to_csv("C:/Users/HP/OneDrive - Newcastle University/Dissertation/Data_sets/Sample dataset values1.csv",mode="w",index=False)

df=pd.read_csv("C:/Users/HP/OneDrive - Newcastle University/Dissertation/Data_sets/Sample dataset values1.csv")
print("sample newly loaded ",df.shape)

df=df.drop_duplicates()
print("sample newly removed duplictes ",df.shape)

end=time.time()
print("before final loading",end-start)
df= shuffle(df)
df.to_csv("C:/Users/HP/OneDrive - Newcastle University/Dissertation/Data_sets/Sample dataset values1.csv",mode="w",index=False)

end=time.time()
print("after loading",end-start)
df.tail(10)

sample before  (611194, 6)
sample after concat  (643032, 6)
after removing duplicates  (643021, 6)
sample newly loaded  (643021, 6)
sample newly removed duplictes  (643021, 6)
before final loading 6.533526659011841
after loading 10.057095050811768

,Sensor,Type,Units,time,Flag,Value
381925,PER_EMOTE_1309,Humidity,%,16/05/2020 22:54,0.0,65.900000
397811,PER_AIRMON_MESH301245,PM 4,ugm -3,12/05/2020 22:40,0.0,4.260000
307604,PER_EMOTE_1309,NO,ugm -3,2020-06-06 02:35:55,0.0,24.128190
198263,PER_AIRMON_MESH301245,PM1,ugm -3,2020-05-25 06:35:00,0.0,7.670000
429523,PER_EMOTE_1309,NO,ugm -3,12/05/2020 11:41,0.0,50.784391
390980,PER_AIRMON_MESH301245,PM1,ugm -3,2020-06-08 20:23:00,0.0,1.630000
130711,PER_EMOTE_1309,Humidity,%,2020-05-17 23:52:18,0.0,75.900000
425743,PER_AIRMON_MESH1911150,PM10,ugm -3,2020-06-06 10:57:00,0.0,6.009000
637881,PER_AIRMON_MESH1911150,PM 4,ugm -3,2020-05-27 00:35:00,0.0,2.760000
374007,PER_EMOTE_1309,Sound,db,2020-05-27 19:03:37,0.0,70.000000

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 643021 entries, 526678 to 374007
Data columns (total 6 columns):
Sensor    643021 non-null object
Type      643021 non-null object
Units     643021 non-null object
time      643021 non-null object
Flag      643021 non-null float64
Value     643021 non-null float64
dtypes: float64(2), object(4)
memory usage: 34.3+ MB

In [5]:
df.nunique()

Sensor         3
Type          12
Units          6
time       78775
Flag           2
Value     144598
dtype: int64

In [6]:
df_s.head()

,Sensor,Type,Units,time,Flag,Value
0,PER_EMOTE_1309,Humidity,%,2020-05-24 09:07:31,0.0,70.800
1,PER_AIRMON_MESH1911150,PM 4,ugm -3,14/05/2020 11:22,0.0,0.660
2,PER_AIRMON_MESH1911150,PM2.5,ugm -3,16/05/2020 00:13,0.0,3.588
3,PER_EMOTE_1309,Temperature,Celsius,2020-06-01 12:16:47,0.0,20.800
4,PER_EMOTE_1309,Temperature,Celsius,2020-05-21 00:46:24,0.0,15.900

In [7]:
df.Sensor.unique()

array(['PER_AIRMON_MESH1911150', 'PER_AIRMON_MESH301245',
       'PER_EMOTE_1309'], dtype=object)

In [8]:
df.Type.unique()

array(['PM2.5', 'PM10', 'Temperature', 'PM1', 'PM 4', 'Sound', 'Humidity',
       'CO', 'NO2', 'NO', 'Pressure', 'O3'], dtype=object)

In [9]:
df.Units.unique()

array(['ugm -3', 'Celsius', 'db', '%', 'hpa', 'ppb'], dtype=object)

In [10]:
df.Flag.unique()

array([0., 1.])