In [1]:
%autosave 20
import math 
import time
import pandas as pd
from sklearn.utils import shuffle

Autosaving every 20 seconds

In [2]:
# Loading new dataset to remove teh duplicates
start=time.time()
end=time.time()
print("before loading the test",end-start)
df_t=pd.read_csv("C:/Users/HP/OneDrive - Newcastle University/Dissertation/Data_sets/test.csv",delimiter=",",names=["Sensor","Type","Units","time","Flag","Value"])
end=time.time()
print("after loading the test",end-start)

print("test before ",df_t.shape)
# len(df_t.packet_no.unique())
end=time.time()
print("after removing duplicates the test",end-start)

# df_t=df_t.drop(["packet_no","Key"],1)
df_t=df_t.drop_duplicates()
print("test after ",df_t.shape)

df_t=df_t.drop_duplicates()
print("test after ",df_t.shape)
df_t.head(5)
df_t.info()

before loading the test 0.0
after loading the test 0.07279443740844727
test before  (65192, 6)
after removing duplicates the test 0.07669949531555176
test after  (17782, 6)
test after  (17782, 6)

                   Sensor Type   Units                 time   Flag     Value
0  PER_AIRMON_MESH1911150  NO2  ugm -3  2020-06-03 09:15:00  False  35.53576
1  PER_AIRMON_MESH1911150  NO2  ugm -3  2020-06-03 09:30:00  False  33.45648
2  PER_AIRMON_MESH1911150  NO2  ugm -3  2020-06-03 09:45:00  False  30.67784
3  PER_AIRMON_MESH1911150  NO2  ugm -3  2020-06-03 10:00:00  False  31.85848
4  PER_AIRMON_MESH1911150  NO2  ugm -3  2020-06-03 10:15:00  False  29.35808

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17782 entries, 0 to 65191
Data columns (total 6 columns):
Sensor    17782 non-null object
Type      17782 non-null object
Units     17782 non-null object
time      17782 non-null object
Flag      17782 non-null bool
Value     17782 non-null float64
dtypes: bool(1), float64(1), object(4)
memory usage: 850.9+ KB

In [3]:
df_s=pd.read_csv("C:/Users/HP/OneDrive - Newcastle University/Dissertation/Data_sets/Sample dataset values1.csv")
# df_s=df_s.drop("Key",1)
df_s=df_s.dropna()
print("sample before ",df_s.shape)

df_c=pd.concat([df_s,df_t], axis=0, ignore_index=True)
print("sample after concat ",df_c.shape)

df_remove=df_c.drop_duplicates()
print("after removing duplicates ",df_remove.shape)

df_shuffle = shuffle(df_remove)
df_shuffle.to_csv("C:/Users/HP/OneDrive - Newcastle University/Dissertation/Data_sets/Sample dataset values1.csv",mode="w",index=False)

df=pd.read_csv("C:/Users/HP/OneDrive - Newcastle University/Dissertation/Data_sets/Sample dataset values1.csv")
print("sample newly loaded ",df.shape)

df=df.drop_duplicates()
print("sample newly removed duplictes ",df.shape)

end=time.time()
print("before final loading",end-start)
df= shuffle(df)
df.to_csv("C:/Users/HP/OneDrive - Newcastle University/Dissertation/Data_sets/Sample dataset values1.csv",mode="w",index=False)

end=time.time()
print("after loading",end-start)
df.tail(10)

sample before  (427256, 6)
sample after concat  (445038, 6)
after removing duplicates  (437210, 6)
sample newly loaded  (437210, 6)
sample newly removed duplictes  (437137, 6)
before final loading 4.320187091827393
after loading 7.021893262863159

,Sensor,Type,Units,time,Flag,Value
341928,PER_AIRMON_MESH301245,PM 4,ugm -3,2020-05-19 13:02:00,0.0,4.070000
183222,PER_EMOTE_1309,Temperature,Celsius,2020-05-29 17:37:41,0.0,29.000000
21621,PER_AIRMON_MESH1911150,PM2.5,ugm -3,16/05/2020 03:00,0.0,3.397000
19330,PER_AIRMON_MESH1911150,PM10,ugm -3,17/05/2020 16:59,0.0,5.808000
190991,PER_AIRMON_MESH1911150,PM10,ugm -3,2020-05-20 22:45:00,0.0,7.085000
368863,PER_AIRMON_MESH1911150,Humidity,%,2020-05-24 10:00:00,0.0,71.000000
411473,PER_AIRMON_MESH301245,PM2.5,ugm -3,14/05/2020 00:50,0.0,4.010000
353962,PER_AIRMON_MESH301245,PM 4,ugm -3,2020-05-31 12:48:00,0.0,3.180000
295481,PER_AIRMON_MESH1911150,CO,ugm -3,2020-05-30 11:30:00,0.0,87.530670
68154,PER_EMOTE_1309,NO2,ugm -3,2020-06-02 18:37:49,0.0,190.911241

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 437137 entries, 372817 to 68154
Data columns (total 6 columns):
Sensor    437137 non-null object
Type      437137 non-null object
Units     437137 non-null object
time      437137 non-null object
Flag      437137 non-null float64
Value     437137 non-null float64
dtypes: float64(2), object(4)
memory usage: 23.3+ MB

In [5]:
df.nunique()

Sensor         3
Type          12
Units          6
time       51692
Flag           2
Value     102413
dtype: int64