In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("C:/Users/HP/OneDrive - Newcastle University/Dissertation/Data_sets/test.csv",delimiter=",",names=["Sensor","Type","Units","time","Flag","Value"])
df.head(5)

                   Sensor Type   Units                 time   Flag     Value
0  PER_AIRMON_MESH1911150  NO2  ugm -3  2020-06-28 21:15:00  False  22.06180
1  PER_AIRMON_MESH1911150  NO2  ugm -3  2020-06-28 21:30:00  False  23.42104
2  PER_AIRMON_MESH1911150  NO2  ugm -3  2020-06-28 21:45:00  False  23.04128
3  PER_AIRMON_MESH1911150  NO2  ugm -3  2020-06-28 22:00:00  False  22.04112
4  PER_AIRMON_MESH1911150  NO2  ugm -3  2020-06-28 22:15:00  False  22.42088

In [3]:
# df.to_dict('records')

In [4]:
df_true=df[df["Flag"]==0]
len(df_true)

48702

In [5]:
def MinMax(df):
    df_cols=df.Type.unique()
    table=[]
    for i in range(0,len(df_cols)):
        df1=df.loc[df.Type==df_cols[i]]
#         print("Minimum of {} is {}".format(df_cols[i],min(df1.Value)))
#         print("Maximum of {} is {}".format(df_cols[i],max(df1.Value)))
        minmax=[df_cols[i],max(df1.Value),0]
        table.append(minmax)
    table=pd.DataFrame(table,columns=["type","max1","status"])
    table.to_csv("minmax.csv",mode="w+",index=False)

In [6]:
MinMax(df_true)

In [7]:
df1=df.loc[df.Type=="Temperature"]
df2=pd.read_csv("minmax.csv")
df3=df2.loc[df2.type=="Temperature"]
df3

          type  max1  status
1  Temperature  19.1       0

In [8]:
# a=max(df3.max1)
a=25
if(a>=20 and a<25):
    if((a>=20) and df3.status.to_numpy()==0):
        df3.status=df3.status+1
        print("Here")
    elif((a>=20) and df3.status.to_numpy()==1):
        pass
    else:
        df3.status=df3.status-1
if(a>=25 and a<30):
    print("1")
    if((a>=25) and df3.status.to_numpy()==1):
        df3.status=df3.status+2
        print("Here")
    elif((a>=25) and df3.status.to_numpy()==0):
        pass
    else:
        df3.status=df3.status-1
# elif(a>26 and a<30):
#     df3.status=df3.status+1
df2.loc[df2.type=="Temperature"]
df3

1

          type  max1  status
1  Temperature  19.1       0

          type  max1  status
1  Temperature  19.1       0

In [9]:
# df3=df2.loc[df2.type=="Temperature"]
# df3.status=df3.status+2
# # df3.status=df3.status+1
# df3
df3.max1

1    19.1
Name: max1, dtype: float64

In [10]:
df2.loc[df2.type=="Temperature"]

          type  max1  status
1  Temperature  19.1       0

In [11]:
df2

           type         max1  status
0           NO2    73.877157       0
1   Temperature    19.100000       0
2            O3    47.651000       0
3          PM 4    24.710000       0
4           PM1    14.310000       0
5         PM2.5    20.240000       0
6      Humidity    81.400000       0
7          PM10    28.150000       0
8            CO   366.716252       0
9      Pressure  1006.700000       0
10           NO    95.698762       0
11        Sound    78.000000       0

In [12]:
a=19.5
b=df3["status"].to_numpy()
b
type(b)
if(b==0):
    print("true")
    
# df3.max1

array([0], dtype=int64)

numpy.ndarray

true

In [13]:
df1=df.loc[df.Type=="Temperature"]
df2=pd.read_csv("minmax.csv")
df3=df2.loc[df2.type=="Temperature"]
df3
df2

          type  max1  status
1  Temperature  19.1       0

           type         max1  status
0           NO2    73.877157       0
1   Temperature    19.100000       0
2            O3    47.651000       0
3          PM 4    24.710000       0
4           PM1    14.310000       0
5         PM2.5    20.240000       0
6      Humidity    81.400000       0
7          PM10    28.150000       0
8            CO   366.716252       0
9      Pressure  1006.700000       0
10           NO    95.698762       0
11        Sound    78.000000       0

In [14]:
def check(a):
    
    if(a<30):
        if(df3.status.to_numpy()==1):
            df3.status=df3.status-1
        elif(df3.status.to_numpy()==2):
            df3.status=df3.status-2
        elif(df3.status.to_numpy()==3):
            df3.status=df3.status-3
        elif(df3.status.to_numpy()==4):
            df3.status=df3.status-4
        else:
            df3.status=df3.status
    if(a>=20 and a<25):
        if(df3.status.to_numpy()==0):
            df3.status=df3.status+1
        elif(df3.status.to_numpy()==2):
            df3.status=df3.status-1
        elif(df3.status.to_numpy()==3):
            df3.status=df3.status-2
        elif(df3.status.to_numpy()==4):
            df3.status=df3.status-3
        else:
            df3.status=df3.status
    if(a>=25 and a<30):
        if(df3.status.to_numpy()==0):
            df3.status=df3.status+2
        elif(df3.status.to_numpy()==1):
            df3.status=df3.status+1    
        elif(df3.status.to_numpy()==3):
            df3.status=df3.status-1
        elif(df3.status.to_numpy()==4):
            df3.status=df3.status-2
        else:
            df3.status=df3.status
    if(a>=30 and a<35):
        if(df3.status.to_numpy()==0):
            df3.status=df3.status+3
        elif(df3.status.to_numpy()==1):
            df3.status=df3.status+2
        elif(df3.status.to_numpy()==2):
            df3.status=df3.status+1
        elif(df3.status.to_numpy()==4):
            df3.status=df3.status-1
        else:
            df3.status=df3.status
    if(a>=35 and a<40):
        if(df3.status.to_numpy()==0):
            df3.status=df3.status+4
        elif(df3.status.to_numpy()==1):
            df3.status=df3.status+3
        elif(df3.status.to_numpy()==2):
            df3.status=df3.status+2
        elif(df3.status.to_numpy()==3):
            df3.status=df3.status+1
        else:
            df3.status=df3.status
    print(df3)

In [15]:
# temp <20
# temp>=20 and temp<25 =1
# temp>=25 and temp<30 =2
# temp>=30 and temp<35 =3
# temp>=35 and temp<40 =4

check(19)

          type  max1  status
1  Temperature  19.1       0

C:\Users\HP\Anaconda3\envs\Machine_Learning\lib\site-packages\pandas\core\generic.py:5208: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [16]:
df2

           type         max1  status
0           NO2    73.877157       0
1   Temperature    19.100000       0
2            O3    47.651000       0
3          PM 4    24.710000       0
4           PM1    14.310000       0
5         PM2.5    20.240000       0
6      Humidity    81.400000       0
7          PM10    28.150000       0
8            CO   366.716252       0
9      Pressure  1006.700000       0
10           NO    95.698762       0
11        Sound    78.000000       0

In [17]:
df2.loc[df2.type=="Temperature","status"]=1

In [18]:
df2.loc[df2.type=="Temperature"].status.to_numpy()+2

array([3], dtype=int64)

In [50]:
def check(a):
#     print(df2.loc[df2.type=="Temperature"].status.to_numpy())
#     print(df2.loc[df2.type=="Temperature"].max1.to_numpy())
    if(a<=19):
        if(df2.loc[df2.type=="Temperature"].status.to_numpy()==1):
            df2.loc[df2.type=="Temperature","status"]=df2.loc[df2.type=="Temperature"].status.to_numpy()-1
        elif(df2.loc[df2.type=="Temperature"].status.to_numpy()==2):
            df2.loc[df2.type=="Temperature","status"]=df2.loc[df2.type=="Temperature"].status.to_numpy()-2
        elif(df2.loc[df2.type=="Temperature"].status.to_numpy()==3):
            df2.loc[df2.type=="Temperature","status"]=df2.loc[df2.type=="Temperature"].status.to_numpy()-3
        elif(df2.loc[df2.type=="Temperature"].status.to_numpy()==4):
            df2.loc[df2.type=="Temperature","status"]=df2.loc[df2.type=="Temperature"].status.to_numpy()-4
        elif(df2.loc[df2.type=="Temperature"].status.to_numpy()>4):
            df2.loc[df2.type=="Temperature","status"]=df2.loc[df2.type=="Temperature"].status.to_numpy()-4
        else:
            df2.loc[df2.type=="Temperature","status"]=df2.loc[df2.type=="Temperature"].status.to_numpy()
    if(a>=20 and a<25):
        if(df2.loc[df2.type=="Temperature"].status.to_numpy()==0):
            df2.loc[df2.type=="Temperature","status"]=df2.loc[df2.type=="Temperature"].status.to_numpy()+1
        elif(df2.loc[df2.type=="Temperature"].status.to_numpy()==2):
            df2.loc[df2.type=="Temperature","status"]=df2.loc[df2.type=="Temperature"].status.to_numpy()-1
        elif(df2.loc[df2.type=="Temperature"].status.to_numpy()==3):
            df2.loc[df2.type=="Temperature","status"]=df2.loc[df2.type=="Temperature"].status.to_numpy()-2
        elif(df2.loc[df2.type=="Temperature"].status.to_numpy()==4):
            df2.loc[df2.type=="Temperature","status"]=df2.loc[df2.type=="Temperature"].status.to_numpy()-3
        else:
            df2.loc[df2.type=="Temperature","status"]=df2.loc[df2.type=="Temperature"].status.to_numpy()
    if(a>=25 and a<30):
        if(df2.loc[df2.type=="Temperature"].status.to_numpy()==0):
            df2.loc[df2.type=="Temperature","status"]=df2.loc[df2.type=="Temperature"].status.to_numpy()+2
        elif(df2.loc[df2.type=="Temperature"].status.to_numpy()==1):
            df2.loc[df2.type=="Temperature","status"]=df2.loc[df2.type=="Temperature"].status.to_numpy()+1    
        elif(df2.loc[df2.type=="Temperature"].status.to_numpy()==3):
            df2.loc[df2.type=="Temperature","status"]=df2.loc[df2.type=="Temperature"].status.to_numpy()-1
        elif(df2.loc[df2.type=="Temperature"].status.to_numpy()==4):
            df2.loc[df2.type=="Temperature","status"]=df2.loc[df2.type=="Temperature"].status.to_numpy()-2
        else:
            df2.loc[df2.type=="Temperature","status"]=df2.loc[df2.type=="Temperature"].status.to_numpy()
    if(a>=30 and a<35):
        if(df2.loc[df2.type=="Temperature"].status.to_numpy()==0):
            df2.loc[df2.type=="Temperature","status"]=df2.loc[df2.type=="Temperature"].status.to_numpy()+3
        elif(df2.loc[df2.type=="Temperature"].status.to_numpy()==1):
            df2.loc[df2.type=="Temperature","status"]=df2.loc[df2.type=="Temperature"].status.to_numpy()+2
        elif(df2.loc[df2.type=="Temperature"].status.to_numpy()==2):
            df2.loc[df2.type=="Temperature","status"]=df2.loc[df2.type=="Temperature"].status.to_numpy()+1
        elif(df2.loc[df2.type=="Temperature"].status.to_numpy()==4):
            df2.loc[df2.type=="Temperature","status"]=df2.loc[df2.type=="Temperature"].status.to_numpy()-1
        else:
            df2.loc[df2.type=="Temperature","status"]=df2.loc[df2.type=="Temperature"].status.to_numpy()
    if(a>=35 and a<40):
        if(df2.loc[df2.type=="Temperature"].status.to_numpy()==0):
            df2.loc[df2.type=="Temperature","status"]=df2.loc[df2.type=="Temperature"].status.to_numpy()+4
        elif(df2.loc[df2.type=="Temperature"].status.to_numpy()==1):
            df2.loc[df2.type=="Temperature","status"]=df2.loc[df2.type=="Temperature"].status.to_numpy()+3
        elif(df2.loc[df2.type=="Temperature"].status.to_numpy()==2):
            df2.loc[df2.type=="Temperature","status"]=df2.loc[df2.type=="Temperature"].status.to_numpy()+2
        elif(df2.loc[df2.type=="Temperature"].status.to_numpy()==3):
            df2.loc[df2.type=="Temperature","status"]=df2.loc[df2.type=="Temperature"].status.to_numpy()+1
        else:
            df2.loc[df2.type=="Temperature","status"]=df2.loc[df2.type=="Temperature"].status.to_numpy()
    if(a>=40):
        if(df2.loc[df2.type=="Temperature"].status.to_numpy()==4):
            df2.loc[df2.type=="Temperature","status"]=df2.loc[df2.type=="Temperature"].status.to_numpy()
        else:
            df2.loc[df2.type=="Temperature","status"]=df2.loc[df2.type=="Temperature"].status.to_numpy()+4
        print("publish Danger")
    df2.loc[df2.type=="Temperature","max1"]=a
    print(df2.loc[df2.type=="Temperature"])
    df2.to_csv("minmax.csv",mode="w+",index=False)

In [52]:
check(10)

          type  max1  status
1  Temperature  10.0       0